.vscode/**
.vscode-test/**
.gitignore
.github/
vsc-extension-quickstart.md
gulpfile.js
package.json
pnpm-lock.yaml
assets/bikkuri-dark-*
assets/bikkuri-light-*
samples/
scripts/
src/
temp/
node_modules/
