{
  "$schema": "vscode://schemas/color-theme",
  "name": "Bikkuri ({{ mode-name }} {{ tint-name }} & {{ mood-name }})",
  "type": "{{ mode-type }}",
  "colors": {

    /* Contrast colors
       For high-contrast theme definition
       https://code.visualstudio.com/api/references/theme-color#contrast-colors
    */
    "contrastActiveBorder": "{{ border.none }}",
    "contrastBorder": "{{ border.none }}",

    /* Base colors
       https://code.visualstudio.com/api/references/theme-color#base-colors
    */
    // focusBorder has a very wide scope
    "focusBorder":                            "{{ border.mid }}",
    "foreground":                             "{{ text.base }}",
    "disabledForeground":                     "{{ text.disabled }}",
    "widget.shadow":                          "{{ shadow }}",
    "widget.border":                          "{{ border.dim }}",
    // text selections for input fields or text areas, does not apply to selections within the editor and the terminal
    "selection.background":                   "{{ surface.raised.high }}",
    "descriptionForeground":                  "{{ text.base }}",
    "errorForeground":                        "{{ ui.danger.base }}",
    "icon.foreground":                        "{{ icon.base }}", // broad scope of icons, icon buttons across the board
    "sash.hoverBorder":                       "{{ border.base }}",
    
    
    /* Window border 
    https://code.visualstudio.com/api/references/theme-color#window-border
    */
    "window.activeBorder":   "{{ border.none }}",
    "window.inactiveBorder": "{{ border.none }}",

    
    /* Text colors 

    Colors inside a text document, such as the welcome page, markdown preview, or settings.
    https://code.visualstudio.com/api/references/theme-color#text-colors
    */
    "textBlockQuote.background": "{{ surface.sunken }}",
    "textBlockQuote.border":     "{{ border.dim }}",
    "textLink.foreground":       "{{ link.text }}",
    "textLink.activeForeground": "{{ link.text-hover }}",
    "textCodeBlock.background":  "{{ surface.sunken }}",
    "textPreformat.foreground":  "{{ syntax.08.base }}",
    "textPreformat.background":  "{{ surface.sunken }}",
    "textSeparator.foreground":  "{{ border.mid }}",


    /* Button 

       https://code.visualstudio.com/api/references/theme-color#button-control
    */
    "button.background":                      "{{ button.primary.bg }}",
    "button.foreground":                      "{{ button.primary.text }}",
    "button.hoverBackground":                 "{{ button.primary.bg-hover }}",
    "button.separator":                       "{{ button.primary.bg }}",
    // secondary button → notification to install recommended extensions
    "button.secondaryBackground":             "{{ button.secondary.bg }}",
    "button.secondaryForeground":             "{{ button.secondary.text }}",
    "button.secondaryHoverBackground":        "{{ button.secondary.bg-hover }}",
    "button.border":                          "{{ border.none }}",
    "checkbox.background":                    "{{ surface.base }}",
    "checkbox.foreground":                    "{{ icon.base }}",
    "checkbox.border":                        "{{ border.base }}",
    "checkbox.selectBackground":              "{{ surface.base }}",
    "checkbox.selectBorder":                  "{{ border.base }}",


    /* Dropdown
       https://code.visualstudio.com/api/references/theme-color#dropdown-control
    */
    "dropdown.background":                    "{{ surface.sunken }}", 
    "dropdown.border":                        "{{ border.dim }}",
    "dropdown.foreground":                    "{{ text.base }}",
    "dropdown.listBackground":                "{{ surface.sunken }}",


    /* Input
       https://code.visualstudio.com/api/references/theme-color#input-control 
    */  
    "input.background":                       "{{ surface.sunken }}",
    "input.border":                           "{{ border.dim }}",
    "input.foreground":                       "{{ text.base }}",
    "input.placeholderForeground":            "{{ text.dim }}",
    /* inputOption.* for
       - active icons in inputs
       - checkboxes in "Profiles: Show Profile Contents"
    */
    "inputOption.activeBackground":           "{{ button.primary.bg }}", 
    "inputOption.activeForeground":           "{{ button.primary.text }}",
    "inputOption.hoverBackground":            "{{ surface.raised.mid }}",  
    "inputOption.activeBorder":               "{{ border.none }}", //cannot be null
    "inputValidation.errorBackground":        "{{ surface.sunken }}",
    "inputValidation.errorForeground":        "{{ ui.danger.base }}",
    "inputValidation.errorBorder":            "{{ ui.danger.base }}",
    "inputValidation.infoBackground":         "{{ surface.sunken }}",
    "inputValidation.infoForeground":         "{{ text.mid }}",
    "inputValidation.infoBorder":             "{{ border.base }}",
    "inputValidation.warningBackground":      "{{ surface.sunken }}",
    "inputValidation.warningForeground":      "{{ ui.warning.base }}",
    "inputValidation.warningBorder":          "{{ ui.warning.base }}",

    /* Scrollbar
    */
    "scrollbar.shadow":                        "{{ shadow }}",
    "scrollbarSlider.background":              "{{ surface.raised.low }}",
    "scrollbarSlider.activeBackground":        "{{ surface.raised.mid }}",
    "scrollbarSlider.hoverBackground":         "{{ surface.raised.mid }}",


    /* Badge
    */
    "badge.background":                       "{{ badge.bg  }}",
    "badge.foreground":                       "{{ badge.text }}",

    /* Progress bar
    */
    "progressBar.background":                 "{{ ui.accent3.base }}",

    /* Title Bar
    */
    "titleBar.activeBackground":              "{{ surface.base }}",
    "titleBar.activeForeground":              "{{ text.mid }}",
    "titleBar.inactiveBackground":            "{{ surface.base }}",
    "titleBar.inactiveForeground":            "{{ text.mid }}",
    "titleBar.border" :                       "{{ border.dim }}",

    /* Settings
    
       GUI settings editor which can be opened with the "Preferences: Open Settings (UI) command".

       https://code.visualstudio.com/api/references/theme-color#settings-editor-colors
    */

    "settings.headerForeground":              "{{ text.base }}",
    "settings.settingsHeaderHoverForeground": "{{ text.mid }}",
    "settings.modifiedItemIndicator":         "{{ ui.warning.base }}",
    "settings.dropdownBackground":            "{{ surface.sunken }}",
    "settings.dropdownForeground":            "{{ text.base }}",
    "settings.dropdownBorder":                "{{ border.dim }}",
    "settings.dropdownListBorder":            "{{ border.dim }}",
    "settings.checkboxBackground":            "{{ surface.base }}",
    "settings.checkboxForeground":            "{{ icon.base }}",
    "settings.checkboxBorder":                "{{ border.base }}",
    "settings.rowHoverBackground":            "{{ surface.raised.min }}",
    "settings.textInputBackground":           "{{ surface.sunken }}",
    "settings.textInputForeground":           "{{ text.base }}",
    "settings.textInputBorder":               "{{ border.dim }}",
    "settings.numberInputBackground":         "{{ surface.sunken }}",
    "settings.numberInputForeground":         "{{ text.base }}",
    "settings.numberInputBorder":             "{{ border.dim }}",
    "settings.focusedRowBackground":          "{{ surface.raised.low }}",
    "settings.focusedRowBorder":              "{{ border.none }}",
    "settings.headerBorder":                  "{{ border.dim }}",
    "settings.sashBorder":                    "{{ border.dim }}",

    /* Breadcrumbs
    */    
    "breadcrumb.foreground":                    "{{ text.dim }}",
    "breadcrumb.background":                    "{{ surface.base }}",
    "breadcrumb.focusForeground":               "{{ text.base }}",
    "breadcrumb.activeSelectionForeground":     "{{ text.base }}",
    "breadcrumbPicker.background":              "{{ surface.base }}",


    /* Snippets

       when you use, e.g. "for" and press tab, the snippet placeholders are highlighted

      https://code.visualstudio.com/api/references/theme-color#snippets-colors
    */
    "editor.snippetTabstopHighlightBackground":      "{{ surface.raised.min }}",
    "editor.snippetTabstopHighlightBorder":          "{{ border.none }}",
    "editor.snippetFinalTabstopHighlightBackground": "{{ surface.none }}",
    "editor.snippetFinalTabstopHighlightBorder":     "{{ border.mid }}",



    /* Lists & Trees
       https://code.visualstudio.com/api/references/theme-color#lists-and-trees
    */
    "list.activeSelectionBackground":   "{{ surface.raised.low }}",
    "list.activeSelectionForeground":   "{{ text.base }}",
    "list.errorForeground":             "{{ ui.danger.base }}",
    "list.focusBackground":             "{{ surface.raised.mid }}",
    "list.focusForeground":             "{{ text.base }}",
    "list.focusAndSelectionOutline":    "{{ border.none }}",

    // list.hoverBackground/Foreground has a broad impact: Sidebar items hover, Quick Input items hover, Notifications hover; but not for the menu
    "list.hoverBackground": "{{ surface.raised.low }}",
    "list.hoverForeground": "{{ text.base }}",

    "list.inactiveSelectionBackground":     "{{ surface.raised.low }}",
    "list.inactiveSelectionForeground":     "{{ text.base }}",
    "list.warningForeground":               "{{ ui.warning.base }}",
    "list.deemphasizedForeground":          "{{ text.dim }}",
    "list.dropBackground":                  "{{ surface.raised.low }}",
    "list.dropBetweenBackground":           "{{ border.mid }}",
    "list.filterMatchBackground":           "{{ surface.raised.high }}",
    "list.focusHighlightForeground":        "{{ ui.accent1.base }}",
    "list.focusOutline":                    "{{ border.none }}",
    "list.highlightForeground":             "{{ ui.accent1.base }}",
    "list.invalidItemForeground":           "{{ ui.danger.mid }}",
    "list.activeSelectionIconForeground":   "{{ icon.base }}",
    "list.filterMatchBorder":               "{{ border.none }}",
    "list.inactiveFocusBackground":         "{{ surface.raised.mid }}",
    "list.inactiveFocusOutline":            "{{ border.none }}",
    "list.inactiveSelectionIconForeground": "{{ icon.base }}",
    "listFilterWidget.background":          "{{ surface.sunken }}",
    "listFilterWidget.outline":             "{{ border.dim }}",
    "listFilterWidget.noMatchesOutline":    "{{ ui.danger.base }}",
    "listFilterWidget.shadow":              "{{ shadow }}",
    "tree.indentGuidesStroke":              "{{ border.mid }}",
    "tree.inactiveIndentGuidesStroke":      "{{ border.dim }}",
    "tree.tableColumnsBorder":              "{{ border.dim }}",
    "tree.tableOddRowsBackground":          "{{ surface.none }}",



    /* Quick input (Command palette, Quick picker)
    */
    "quickInput.background":              "{{ surface.sunken }}",
    "quickInput.foreground":              "{{ text.mid }}",
    "pickerGroup.foreground":             "{{ text.mid }}",
    "pickerGroup.border":                 "{{ border.dim }}",
    "quickInputTitle.background":         "{{ surface.base}}",
    "quickInputList.focusBackground":     "{{ surface.raised.low }}",
    "quickInputList.focusForeground":     "{{ text.base }}",
    "quickInputList.focusIconForeground": "{{ icon.base }}",
    
    



    /* Keybinding labels
       https://code.visualstudio.com/api/references/theme-color#keybinding-label-colors
    */
    "keybindingLabel.background":   "{{ surface.base }}",
    "keybindingLabel.border":       "{{ surface.sunken }}",
    "keybindingLabel.bottomBorder": "{{ border.dim }}",
    "keybindingLabel.foreground":   "{{ text.mid }}",
    "keybindingTable.headerBackground": "{{ surface.none }}",
    "keybindingTable.rowsBackground": "{{ surface.none }}",


    /* Activity Bar 
    */
    "activityBar.background":            "{{ surface.base }}",
    "activityBar.dropBorder":            "{{ border.base }}",
    "activityBar.foreground":            "{{ text.base }}",
    "activityBar.inactiveForeground":    "{{ icon.dim }}",             //icon colors
    "activityBar.border":                "{{ border.dim }}",
    "activityBarBadge.background":       "{{ badge.bg  }}",
    "activityBarBadge.foreground":       "{{ badge.text }}",
    "activityBar.activeBorder":          "{{ border.base }}",
    "activityBar.activeBackground":      "{{ surface.raised.low }}",
    "activityBar.activeFocusBorder":     "{{ border.none }}",
    "activityBarTop.foreground":         "{{ text.base }}",
    "activityBarTop.background":         "{{ surface.base }}",
    "activityBarTop.activeBorder":       "{{ border.none }}",
    "activityBarTop.activeBackground":   "{{ surface.raised.min }}",
    "activityBarTop.inactiveForeground": "{{ icon.mid }}",
    "activityBarTop.dropBorder":         "{{ border.base }}",
    "sideBarActivityBarTop.border":      "{{ border.dim }}",
    "profileBadge.background":           "{{ badge.bg}}",
    "profileBadge.foreground":           "{{ badge.text }}",



    /* Sidebar
       https://code.visualstudio.com/api/references/theme-color#side-bar
    */
    "sideBar.background":              "{{ surface.base }}",
    "sideBarSectionHeader.background": "{{ surface.sunken }}",
    "sideBar.border":                  "{{ border.dim }}",
    "sideBar.dropBackground":          "{{ surface.raised.low }}",
    "sideBar.foreground":              "{{ text.mid }}",
    "sideBarSectionHeader.foreground": "{{ text.mid }}",
    "sideBarTitle.foreground":         "{{ text.mid }}",
    "sideBarSectionHeader.border":     "{{ border.none }}",
    "sideBarTitle.background":         "{{ surface.base }}",
    "sideBarStickyScroll.background":  "{{ surface.base }}",
    "sideBarStickyScroll.border":      "{{ border.none }}",
    "sideBarStickyScroll.shadow":      "{{ shadow }}",

    /* Git Decorations
       Changed files in sidebar or tabs;
    */

    "gitDecoration.conflictingResourceForeground":   "{{ ui.accent2.mid }}",
    "gitDecoration.deletedResourceForeground":       "{{ ui.danger.mid }}",
    "gitDecoration.ignoredResourceForeground":       "{{ text.disabled }}",
    "gitDecoration.modifiedResourceForeground":      "{{ ui.warning.mid }}",
    "gitDecoration.untrackedResourceForeground":     "{{ ui.success.mid }}",
    "gitDecoration.addedResourceForeground":         "{{ ui.success.mid }}",
    "gitDecoration.renamedResourceForeground":       "{{ ui.warning.mid }}",
    "gitDecoration.stageModifiedResourceForeground": "{{ ui.warning.mid }}",
    "gitDecoration.stageDeletedResourceForeground":  "{{ ui.danger.mid }}",
    "gitDecoration.submoduleResourceForeground":     "{{ text.dim }}",

    /* SCM (Source Control Management)
       Stats in Incoming/Outgoing part in Source Control
    */
    
    "scm.historyItemAdditionsForeground": "{{ ui.success.base }}",
    "scm.historyItemDeletionsForeground": "{{ ui.danger.base }}",
    "scm.historyItemStatisticsBorder": "{{ border.none }}",
    "scm.historyItemSelectedStatisticsBorder": "{{ border.none }}",





    /* Minimap & Overview ruler
       https://code.visualstudio.com/api/references/theme-color#minimap
    */
    "minimap.background":                   "{{ surface.none }}",
    "minimap.foregroundOpacity":            "{{ surface.base }}{{ opacity.high }}",
    "minimap.errorHighlight":               "{{ ui.danger.mid }}",
    "minimap.findMatchHighlight":           "{{ ui.warning.mid }}",
    "minimap.selectionHighlight":           "{{ surface.raised.high }}",
    "minimap.selectionOccurrenceHighlight": "{{ surface.raised.high }}",
    "minimap.warningHighlight":             "{{ ui.warning.mid }}",
    "minimap.infoHighlight":                "{{ ui.info.mid }}",
    "minimapGutter.addedBackground":        "{{ ui.success.mid }}",
    "minimapGutter.deletedBackground":      "{{ ui.danger.mid }}",
    "minimapGutter.modifiedBackground":     "{{ ui.warning.mid }}",
    "minimapSlider.background":             "{{ surface.raised.mid }}",
    "minimapSlider.activeBackground":       "{{ surface.raised.high }}",
    "minimapSlider.hoverBackground":        "{{ surface.raised.high }}",

    "editorOverviewRuler.border":                        "{{ surface.base }}",
    "editorOverviewRuler.background":                    "{{ surface.none }}",
    "editorOverviewRuler.addedForeground":               "{{ ui.success.mid }}{{ opacity.mid }}",
    "editorOverviewRuler.bracketMatchForeground":        "{{ text.dim }}",
    "editorOverviewRuler.deletedForeground":             "{{ ui.danger.mid }}{{ opacity.mid }}",
    "editorOverviewRuler.errorForeground":               "{{ ui.danger.mid }}",
    "editorOverviewRuler.findMatchForeground":           "{{ ui.warning.mid }}",
    "editorOverviewRuler.infoForeground":                "{{ ui.info.mid }}",
    "editorOverviewRuler.modifiedForeground":            "{{ ui.warning.mid }}",
    "editorOverviewRuler.rangeHighlightForeground":      "{{ ui.accent1.mid }}",
    "editorOverviewRuler.selectionHighlightForeground":  "{{ ui.accent3.base }}",
    "editorOverviewRuler.warningForeground":             "{{ ui.warning.mid }}",
    "editorOverviewRuler.wordHighlightForeground":       "{{ text.dim }}",
    "editorOverviewRuler.wordHighlightTextForeground":   "{{ ui.accent2.base }}",
    "editorOverviewRuler.wordHighlightStrongForeground": "{{ text.dim }}",
    "editorOverviewRuler.inlineChatInserted":            "{{ ui.success.mid }}",
    "editorOverviewRuler.inlineChatRemoved":             "{{ ui.danger.mid }}",

    //editorOverviewRuler for merge conflicts is located within merge conflicts
  
    

    /* Status bar
       https://code.visualstudio.com/api/references/theme-color#status-bar-colors
    */
    "statusBar.background":                   "{{ surface.base }}",
    "statusBar.foreground":                   "{{ text.mid }}",
    "statusBarItem.hoverForeground":          "{{ text.base }}",
    "statusBar.noFolderForeground":           "{{ text.mid }}",
    "statusBar.border":                       "{{ border.dim }}",
    "statusBar.debuggingBackground":          "{{ ui.accent2.mid }}",
    "statusBar.debuggingForeground":          "{{ text.on-ui }}",
    "statusBar.debuggingBorder":              "{{ border.dim }}",
    "statusBar.noFolderBackground":           "{{ surface.base }}",
    "statusBar.noFolderBorder":               "{{ border.dim }}",
    "statusBarItem.activeBackground":         "{{ surface.raised.low }}",
    "statusBarItem.hoverBackground":          "{{ surface.raised.mid }}",
    "statusBarItem.prominentForeground":      "{{ text.on-ui }}",
    "statusBarItem.prominentHoverForeground": "{{ text.on-ui }}",
    "statusBarItem.prominentBackground":      "{{ ui.accent2.mid }}",
    "statusBarItem.prominentHoverBackground": "{{ ui.accent2.base }}",
    "statusBarItem.remoteBackground":         "{{ surface.sunken }}",
    "statusBarItem.remoteForeground":         "{{ text.mid }}",
    "statusBarItem.remoteHoverBackground":    "{{ surface.raised.mid }}",
    "statusBarItem.remoteHoverForeground":    "{{ text.base }}",
    "statusBarItem.errorBackground":          "{{ ui.danger.base }}",
    "statusBarItem.errorForeground":          "{{ text.on-ui }}",
    "statusBarItem.errorHoverBackground":     "{{ ui.danger.high }}",
    "statusBarItem.errorHoverForeground":     "{{ text.on-ui }}",
    "statusBarItem.warningBackground":        "{{ ui.warning.base }}",
    "statusBarItem.warningForeground":        "{{ text.on-ui }}",
    "statusBarItem.warningHoverBackground":   "{{ ui.warning.high }}",
    "statusBarItem.warningHoverForeground":   "{{ text.on-ui }}",
    "statusBarItem.offlineBackground":        "{{ ui.warning.base }}",
    "statusBarItem.offlineForeground":        "{{ text.on-ui }}",
    "statusBarItem.offlineHoverBackground":   "{{ ui.warning.high }}",
    "statusBarItem.offlineHoverForeground":   "{{ text.on-ui }}",
    "statusBarItem.compactHoverBackground":   "{{ surface.raised.high }}",
    "statusBarItem.focusBorder":              "{{ border.dim }}",
    "statusBar.focusBorder":                  "{{ border.dim }}",





    /* Editor Groups & Tabs
       https://code.visualstudio.com/api/references/theme-color#editor-groups-tabs
    */
    "editorGroup.emptyBackground":          "{{ surface.base }}",
    "editorGroupHeader.noTabsBackground":   "{{ surface.base }}",
    "editorGroupHeader.tabsBackground":     "{{ surface.base }}",
    "editorGroupHeader.border":             "{{ border.none }}",
    "editorGroup.dropBackground":           "{{ surface.raised.low }}",
    "editorGroup.border":                   "{{ border.dim }}",
    "editorGroupHeader.tabsBorder":         "{{ border.dim }}",
    "editorGroup.focusedEmptyBorder":       "{{ border.mid }}",
    "editorGroup.dropIntoPromptForeground": "{{ text.mid }}",
    "editorGroup.dropIntoPromptBackground": "{{ surface.sunken }}",
    "editorGroup.dropIntoPromptBorder":     "{{ border.dim }}",
    "editorPane.background":                "{{ surface.base }}",
    "sideBySideEditor.horizontalBorder":    "{{ border.dim }}",
    "sideBySideEditor.verticalBorder":      "{{ border.dim }}",

    "tab.activeBackground":                "{{ surface.raised.low }}",
    "tab.activeForeground":                "{{ text.base }}",
    "tab.activeBorder":                    "{{ border.base }}",
    "tab.activeBorderTop":                 "{{ border.none }}",
    "tab.inactiveForeground":              "{{ text.dim }}",
    "tab.inactiveBackground":              "{{ surface.base }}",
    "tab.hoverBorder":                     "{{ border.mid }}",
    "tab.hoverBackground":                 "{{ surface.raised.mid }}",
    "tab.hoverForeground":                 "{{ text.mid }}",
    "tab.border":                          "{{ border.none }}",
    "tab.dragAndDropBorder":               "{{ border.base }}",
    "tab.unfocusedActiveBackground":       "{{ surface.raised.low }}",
    "tab.unfocusedActiveForeground":       "{{ text.dim }}",
    "tab.unfocusedActiveBorder":           "{{ border.mid }}",
    "tab.unfocusedInactiveForeground":     "{{ text.disabled }}",
    "tab.unfocusedInactiveBackground":     "{{ surface.base }}",
    "tab.unfocusedActiveBorderTop":        "{{ border.none }}",
    "tab.unfocusedHoverBackground":        "{{ surface.raised.mid }}",
    "tab.unfocusedHoverForeground":        "{{ text.mid }}",
    "tab.unfocusedHoverBorder":            "{{ border.mid }}",
    "tab.lastPinnedBorder":                "{{ border.mid }}",
    "tab.activeModifiedBorder":            "{{ border.none }}",
    "tab.inactiveModifiedBorder":          "{{ border.none }}",
    "tab.unfocusedActiveModifiedBorder":   "{{ border.none }}",
    "tab.unfocusedInactiveModifiedBorder": "{{ border.none }}",


    /* Action Colors

       Impacts
       - tab close button
       - right-top actions in git local working changes
       - actions in editor search (ctrl+F)
       https://code.visualstudio.com/api/references/theme-color#action-colors
    */
    
    "toolbar.hoverBackground":  "{{ surface.raised.mid }}",
    "toolbar.hoverOutline":     "{{ border.none }}",
    "toolbar.activeBackground": "{{ surface.raised.mid }}",



    /* Panels
       e.g. Output, Debug Console, Terminal 
    */
    
    "panel.background":                  "{{ surface.base }}",
    "panel.border":                      "{{ border.dim }}",
    "panel.dropBorder":                  "{{ border.mid }}",
    "panelTitle.activeBorder":           "{{ border.base }}",
    "panelTitle.activeForeground":       "{{ text.base }}",
    "panelTitle.inactiveForeground":     "{{ text.dim }}",
    "panelInput.border":                 "{{ border.mid }}",
    "panelSection.border":               "{{ border.dim }}",
    "panelSection.dropBackground":       "{{ surface.raised.low }}",
    "panelSectionHeader.background":     "{{ surface.base }}",
    "panelSectionHeader.foreground":     "{{ text.base }}",
    "panelSectionHeader.border":         "{{ border.dim }}",
    "panelStickyScroll.background":      "{{ surface.base }}",
    "panelStickyScroll.border":          "{{ border.none }}",
    "panelStickyScroll.shadow":          "{{ shadow }}",
    "outputView.background":             "{{ surface.base }}",
    "outputViewStickyScroll.background": "{{ surface.base }}",


    /* Editor

       Sidenotes
       editorInfo.foreground is also used as icon color in "Do you trust..." dialog
       editorWarning.foreground is used for warning squiggles. Also used as warning color by Github Co-pilot VS Code plugin.
       
    */
    "editor.background":                 "{{ surface.base }}",
    "editor.foreground":                 "{{ text.base }}",
    "editorLineNumber.foreground":       "{{ text.disabled }}",
    "editorLineNumber.activeForeground": "{{ text.base }}",
    "editorLineNumber.dimmedForeground": "{{ text.mid }}",
    "editorLink.activeForeground":       "{{ text.base }}",
    "editor.lineHighlightBackground":    "{{ surface.sunken }}",
    "editor.lineHighlightBorder":        "{{ border.none }}",
    "editor.selectionBackground":        "{{ surface.raised.mid }}",
    // selectionForeground does not seem to take effect
    // "editor.selectionForeground":             "{{ undefined }}",
    "editor.inactiveSelectionBackground":     "{{ surface.sunken }}",
    // same content as selection
    "editor.selectionHighlightBackground":    "{{ surface.none }}",
    "editor.selectionHighlightBorder":        "{{ ui.accent1.base }}",
    // current match
    "editor.findMatchBackground":             "{{ surface.none }}",
    "editor.findMatchBorder":                 "{{ ui.danger.base }}",
    // other matches
    "editor.findMatchHighlightBackground":    "{{ surface.raised.low }}",
    "editor.findMatchHighlightBorder":        "{{ border.base }}",
    // selection range when "Find in Selection" is applied
    "editor.findRangeHighlightBackground":    "{{ surface.sunken}}", 
    "editor.findRangeHighlightBorder":        "{{ border.none }}",
    //background selection on hover
    "editor.hoverHighlightBackground":        "{{ surface.raised.low }}",
    // highlighting variables 
    "editor.wordHighlightStrongBackground": "{{ surface.none }}",
    "editor.wordHighlightStrongBorder":     "{{ ui.accent1.base }}",
    "editor.wordHighlightBackground":       "{{ surface.none }}",
    "editor.wordHighlightBorder":           "{{ ui.accent2.base }}",
    "editor.wordHighlightTextBackground":   "{{ surface.none }}",
    "editor.wordHighlightTextBorder":       "{{ border.none }}",
    "searchEditor.findMatchBackground":     "{{ surface.raised.low }}",
    "searchEditor.findMatchBorder":         "{{ ui.danger.base }}",
    "searchEditor.textInputBorder":         "{{ border.dim }}",
    "editorWatermark.foreground":           "{{ text.mid }}",
    "editorUnicodeHighlight.border":        "{{ border.dim }}",
    "editorUnicodeHighlight.background":    "{{ surface.base }}",
    "editor.rangeHighlightBackground":      "{{ surface.raised.low }}",
    "editor.rangeHighlightBorder":          "{{ border.none }}",

    /* highlighted @ search for symbols, haven’t found the impact of this config */
    "editor.symbolHighlightBackground":     "{{ surface.none }}",
    "editor.symbolHighlightBorder":         "{{ surface.none }}",

    /* To see the editor inline hints, set "editor.inlayHints.enabled": on. */
    "editorInlayHint.background":          "{{ surface.none }}",
    "editorInlayHint.foreground":          "{{ text.disabled }}",
    "editorInlayHint.typeBackground":      "{{ surface.none }}",
    "editorInlayHint.typeForeground":      "{{ text.disabled }}",
    "editorInlayHint.parameterBackground": "{{ surface.none }}",
    "editorInlayHint.parameterForeground": "{{ text.disabled }}",

    "editorWhitespace.foreground":            "{{ text.disabled }}",
    "editorCursor.foreground":                "{{ icon.base }}",
    "editorCursor.background":                "{{ text.on-ui }}",
    "editorMultiCursor.primary.foreground":   "{{ icon.base }}",
    "editorMultiCursor.primary.background":   "{{ text.on-ui }}",
    "editorMultiCursor.secondary.foreground": "{{ icon.base }}",
    "editorMultiCursor.secondary.background": "{{ text.on-ui }}",
    
    "editorError.foreground":              "{{ ui.danger.mid }}",
    "editorError.background":              "{{ surface.none }}",
    "editorError.border":                  "{{ border.none }}",
    "editorWarning.foreground":            "{{ ui.warning.mid }}",
    "editorWarning.background":            "{{ surface.none }}",
    "editorWarning.border":                "{{ border.none }}",
    "editorHint.foreground":               "{{ ui.success.mid }}",
    "editorHint.border":                   "{{ border.none }}",
    "editorInfo.foreground":               "{{ ui.info.mid }}",
    "editorInfo.border":                   "{{ border.none }}",
    "editorInfo.background":               "{{ surface.none }}",
    /* icons in the panel view */
    "problemsErrorIcon.foreground":        "{{ ui.danger.base }}",
    "problemsWarningIcon.foreground":      "{{ ui.warning.base }}",
    "problemsInfoIcon.foreground":         "{{ ui.info.base }}",

    "editorUnnecessaryCode.border":        "{{ border.none }}",
    "editorUnnecessaryCode.opacity":       "{{ text.base }}{{ opacity.mid }}", 

    "editorGutter.background":                       "{{ surface.none }}",
    "editorGutter.addedBackground":                  "{{ ui.success.base }}",
    "editorGutter.deletedBackground":                "{{ ui.danger.base }}",
    "editorGutter.modifiedBackground":               "{{ ui.warning.base }}",

    /* requires e.g. GitHub pull requests extension to preview these comment ranges */
    "editorGutter.commentRangeForeground":           "{{ ui.accent3.mid }}",
    "editorGutter.commentUnresolvedGlyphForeground": "{{ text.on-ui }}",
    "editorGutter.commentGlyphForeground":           "{{ text.on-ui }}",
    "editorCommentsWidget.unresolvedBorder":         "{{ ui.warning.mid }}",
    "editorCommentsWidget.resolvedBorder":           "{{ ui.success.mid }}",
    "editorCommentsWidget.rangeBackground":          "{{ surface.raised.min }}",
    "editorCommentsWidget.rangeActiveBackground":    "{{ surface.raised.low }}",
    "editorCommentsWidget.replyInputBackground":     "{{ surface.sunken }}",

    "editorGutter.foldingControlForeground":         "{{ text.mid }}",
    "editorIndentGuide.background1":       "{{ border.dim }}{{ opacity.mid }}",
    "editorIndentGuide.background2":       "{{ border.dim }}{{ opacity.mid }}",
    "editorIndentGuide.background3":       "{{ border.dim }}{{ opacity.mid }}",
    "editorIndentGuide.background4":       "{{ border.dim }}{{ opacity.mid }}",
    "editorIndentGuide.background5":       "{{ border.dim }}{{ opacity.mid }}",
    "editorIndentGuide.background6":       "{{ border.dim }}{{ opacity.mid }}",
    "editorIndentGuide.activeBackground1": "{{ border.mid }}",
    "editorIndentGuide.activeBackground2": "{{ border.mid }}",
    "editorIndentGuide.activeBackground3": "{{ border.mid }}",
    "editorIndentGuide.activeBackground4": "{{ border.mid }}",
    "editorIndentGuide.activeBackground5": "{{ border.mid }}",
    "editorIndentGuide.activeBackground6": "{{ border.mid }}",
    "editorRuler.foreground":              "{{ text.disabled }}",
    "editor.linkedEditingBackground":      "{{ surface.raised.mid }}", // Turn Linked Editing on; works for HTML tag pairs
    "editorCodeLens.foreground":           "{{ text.mid }}",
    "editorHoverWidget.background":        "{{ surface.base }}",
    "editorHoverWidget.border":            "{{ border.dim }}",
    "editorStickyScroll.background":      "{{ surface.base }}",
    "editorStickyScrollHover.background": "{{ surface.raised.low }}",
    "editorStickyScroll.border":          "{{ border.none }}",
    "editorStickyScroll.shadow":          "{{ shadow }}",
    "search.resultsInfoForeground":       "{{ text.mid }}",

    
    /* Bracket matching and bracket pair colorization

    Bracket pair colorization introduced in VS Code v1.67:
    https://code.visualstudio.com/updates/v1_67#_editor   
    */
    
    "editorBracketMatch.background":          "{{ surface.base }}",
    "editorBracketMatch.border":              "{{ border.mid }}",
    
 
    "editorBracketHighlight.foreground1":     "{{ text.dim }}",
    "editorBracketHighlight.foreground2":     "{{ syntax.01.base }}",
    "editorBracketHighlight.foreground3":     "{{ syntax.02.base }}",
    "editorBracketHighlight.foreground4":     "{{ syntax.03.base }}",
    "editorBracketHighlight.foreground5":     "{{ syntax.04.base }}",
    "editorBracketHighlight.foreground6":     "{{ syntax.06.base }}",
    "editorBracketHighlight.unexpectedBracket.foreground": "{{ ui.danger.mid }}",
    "editorBracketPairGuide.activeBackground1": "{{ text.none }}",
    "editorBracketPairGuide.activeBackground2": "{{ text.none }}",
    "editorBracketPairGuide.activeBackground3": "{{ text.none }}",
    "editorBracketPairGuide.activeBackground4": "{{ text.none }}",
    "editorBracketPairGuide.activeBackground5": "{{ text.none }}",
    "editorBracketPairGuide.activeBackground6": "{{ text.none }}",
    "editorBracketPairGuide.background1":     "{{ text.none }}",
    "editorBracketPairGuide.background2":     "{{ text.none }}",
    "editorBracketPairGuide.background3":     "{{ text.none }}",
    "editorBracketPairGuide.background4":     "{{ text.none }}",
    "editorBracketPairGuide.background5":     "{{ text.none }}",
    "editorBracketPairGuide.background6":     "{{ text.none }}",
    "editor.foldBackground":                  "{{ surface.raised.min }}",



    /* Diff Editor
       https://code.visualstudio.com/api/references/theme-color#diff-editor-colors
    */
    "diffEditor.diagonalFill":                 "{{ surface.sunken }}",
    "diffEditor.insertedTextBorder":           "{{ border.none }}", //it impacts line as well
    "diffEditor.removedTextBorder":            "{{ border.none }}",
    "diffEditor.border":                       "{{ border.none }}", //border between diffs
    "diffEditor.insertedTextBackground":       "{{ ui.success.dim }}{{ opacity.high }}",
    "diffEditor.removedTextBackground":        "{{ ui.danger.dim }}{{ opacity.high }}",
    "diffEditor.insertedLineBackground":       "{{ ui.success.dim }}{{ opacity.mid-low }}",
    "diffEditor.removedLineBackground":        "{{ ui.danger.dim }}{{ opacity.mid-low }}",
    /* "diffEditor.hideUnchangedRegions.enabled": true, to make unchaged regions visible*/
    "diffEditor.unchangedRegionBackground":    "{{ surface.none }}",
    "diffEditor.unchangedRegionForeground":    "{{ text.dim }}",
    "diffEditor.unchangedRegionShadow":        "{{ border.mid }}",
    "diffEditor.unchangedCodeBackground":      "{{ surface.none }}",

    /* experimental in v 1.80 https://code.visualstudio.com/updates/v1_80#_move-detection */ 
    "diffEditor.move.border":                  "{{ border.dim }}",
    "diffEditor.moveActive.border":            "{{ border.mid }}",

    "diffEditorGutter.insertedLineBackground": "{{ ui.success.dim }}{{ opacity.mid-low }}",
    "diffEditorGutter.removedLineBackground":  "{{ ui.danger.dim }}{{ opacity.mid-low }}",
    "diffEditorOverview.insertedForeground":   "{{ ui.success.dim }}{{ opacity.high }}",
    "diffEditorOverview.removedForeground":    "{{ ui.danger.dim }}{{ opacity.high }}",
    "multiDiffEditor.headerBackground":        "{{ surface.sunken }}",
    "multiDiffEditor.background":              "{{ surface.sunken }}",
    "multiDiffEditor.border":                  "{{ border.dim }}",
    

    /* Chat, Inline Chat,

       e.g. Github Co-pilot
    
       https://code.visualstudio.com/api/references/theme-color#chat-colors
    */
    "chat.requestBorder":          "{{ border.dim }}", //co-pilot icon
    "chat.requestBackground":      "{{ surface.sunken }}", //bg of your message
    "chat.slashCommandBackground": "{{ surface.base }}", //in-chat slash command
    "chat.slashCommandForeground": "{{ text.mid }}", //in-chat slash command
    "chat.avatarBackground":       "{{ surface.none }}", //co-pilot icon
    "chat.avatarForeground":       "{{ icon.mid }}", //co-pilot icon

    "inlineChat.background":                 "{{ surface.sunken }}",
    "inlineChat.border":                     "{{ border.dim }}",
    "inlineChat.shadow":                     "{{ shadow }}",
    "inlineChat.regionHighlight":            "{{ ui.accent1.mid }}{{ opacity.mid }}",
    "inlineChatInput.border":                "{{ border.dim }}",
    "inlineChatInput.focusBorder":           "{{ border.mid }}",
    "inlineChatInput.placeholderForeground": "{{ text.dim }}",
    "inlineChatInput.background":            "{{ surface.sunken }}",
    "inlineChatDiff.inserted":               "{{ ui.success.dim }}{{ opacity.mid-high }}",
    "inlineChatDiff.removed":                "{{ ui.danger.dim }}{{ opacity.mid-high }}",





    /* Merge conflicts, Merge editor
     */
    "merge.border":                                        "{{ border.none }}",
    "merge.currentHeaderBackground":                       "{{ ui.accent2.mid }}{{ opacity.mid-low }}",
    "merge.currentContentBackground":                      "{{ ui.accent2.mid }}{{ opacity.low }}",
    "merge.incomingHeaderBackground":                      "{{ ui.accent3.mid }}{{ opacity.mid-low }}",
    "merge.incomingContentBackground":                     "{{ ui.accent3.mid }}{{ opacity.low }}",
    "merge.commonContentBackground":                       "{{ surface.none }}",
    "merge.commonHeaderBackground":                        "{{ surface.none }}",
    "editorOverviewRuler.currentContentForeground":        "{{ ui.accent2.mid }}{{ opacity.mid-low }}",
    "editorOverviewRuler.incomingContentForeground":       "{{ ui.accent3.mid }}{{ opacity.mid-low }}",
    "editorOverviewRuler.commonContentForeground":         "{{ border.none }}",
    "editorOverviewRuler.commentForeground":               "{{ ui.success.mid }}{{ opacity.mid-low }}",
    "editorOverviewRuler.commentUnresolvedForeground":     "{{ ui.warning.mid }}{{ opacity.mid-low }}",
    "mergeEditor.change.background":                       "{{ surface.base }}",
    "mergeEditor.change.word.background":                  "{{ surface.sunken }}",
    "mergeEditor.conflict.unhandledUnfocused.border":      "{{ ui.danger.base }}",
    "mergeEditor.conflict.unhandledFocused.border":        "{{ ui.danger.base }}",
    "mergeEditor.conflict.handledUnfocused.border":        "{{ ui.success.base }}",
    "mergeEditor.conflict.handledFocused.border":          "{{ ui.success.base }}",
    "mergeEditor.conflict.unhandled.minimapOverViewRuler": "{{ ui.danger.base }}",
    "mergeEditor.conflict.handled.minimapOverViewRuler":   "{{ ui.success.base }}",
    "mergeEditor.conflictingLines.background":             "{{ surface.base }}",
    "mergeEditor.changeBase.background":                   "{{ surface.none }}",    // not tested
    "mergeEditor.changeBase.word.background":              "{{ surface.none }}",    // not tested
    "mergeEditor.conflict.input1.background":              "{{ surface.none }}",    // not tested
    "mergeEditor.conflict.input2.background":              "{{ surface.none }}",    // not tested





   



    /* Widget

       Widget: e.g. Find/Replace dialog
       Suggestion Widget: suggestion upon typing in the editor (intelisense)
       https://code.visualstudio.com/api/references/theme-color#editor-widget-colors
    */
    "editorWidget.background":                      "{{ surface.sunken }}",
    "editorWidget.foreground":                      "{{ text.mid }}",
    "editorWidget.resizeBorder":                    "{{ border.dim }}",
    "editorWidget.border":                          "{{ border.mid }}",
    "editorSuggestWidget.background":               "{{ surface.base }}",
    "editorSuggestWidget.foreground":               "{{ text.base }}",
    "editorSuggestWidget.highlightForeground":      "{{ ui.accent1.mid }}",
    "editorSuggestWidget.selectedBackground":       "{{ surface.raised.low }}",
    "editorSuggestWidget.border":                   "{{ border.dim }}",
    "editorSuggestWidget.focusHighlightForeground": "{{ ui.accent1.base }}",
    "editorSuggestWidget.selectedForeground":       "{{ text.base }}",
    "editorSuggestWidget.selectedIconForeground":   "{{ icon.base }}",
    "editorSuggestWidgetStatus.foreground":         "{{ text.dim }}",
    "editorHoverWidget.foreground":                 "{{ text.base }}",
    "editorHoverWidget.highlightForeground":        "{{ text.base }}",
    "editorHoverWidget.statusBarBackground":        "{{ surface.base }}",
    "editorGhostText.border":                       "{{ border.none }}",
    "editorGhostText.background":                   "{{ surface.none }}",
    "editorGhostText.foreground":                   "{{ text.mid }}", 
    // Command: Go to Next Problem
    "editorMarkerNavigation.background":               "{{ surface.base }}",
    "editorMarkerNavigationError.background":          "{{ ui.danger.mid }}",
    "editorMarkerNavigationError.headerBackground":    "{{ ui.danger.mid }}{{ opacity.low }}",
    "editorMarkerNavigationWarning.background":        "{{ ui.warning.mid }}",
    "editorMarkerNavigationWarning.headerBackground":  "{{ ui.warning.mid }}{{ opacity.low }}",
    "editorMarkerNavigationInfo.background":           "{{ ui.info.mid }}",
    "editorMarkerNavigationInfo.headerBackground":     "{{ ui.info.mid }}{{ opacity.low }}",

    
    

    /* Peek view

       e.g. right-click → Peek → Peek definition
    */
    "peekView.border":                         "{{ border.dim }}",
    "peekViewEditor.background":               "{{ surface.base }}",
    "peekViewEditorGutter.background":         "{{ surface.base }}",
    "peekViewEditor.matchHighlightBackground": "{{ surface.raised.low }}",
    "peekViewEditor.matchHighlightBorder":     "{{ border.none }}",
    "peekViewResult.background":               "{{ surface.sunken }}",
    "peekViewResult.fileForeground":           "{{ text.mid }}",
    "peekViewResult.lineForeground":           "{{ text.dim }}",
    "peekViewResult.matchHighlightBackground": "{{ surface.raised.low }}",
    "peekViewResult.selectionBackground":      "{{ surface.raised.low }}",
    "peekViewResult.selectionForeground":      "{{ text.base }}",
    "peekViewEditorStickyScroll.background":   "{{ surface.base }}",
    "peekViewTitle.background":                "{{ surface.base }}",
    "peekViewTitleDescription.foreground":     "{{ text.mid }}",
    "peekViewTitleLabel.foreground":           "{{ text.base }}",



    /* Debugging Interfaces 

       https://code.visualstudio.com/api/references/theme-color#debug-colors
    */
   
    "debugExceptionWidget.background":             "{{ ui.danger.mid }}{{ opacity.mid-low }}",
    "debugExceptionWidget.border":                 "{{ ui.danger.mid }}",
    "debugToolBar.background":                     "{{ surface.base }}",
    "debugToolBar.border":                         "{{ border.dim }}",
    "editor.stackFrameHighlightBackground":        "{{ surface.raised.mid }}",
    "editor.focusedStackFrameHighlightBackground": "{{ surface.raised.low }}",
    "editor.inlineValuesForeground":               "{{ text.mid }}",
    "editor.inlineValuesBackground":               "{{ surface.none }}",
    "debugView.exceptionLabelForeground":          "{{ text.on-ui }}",
    "debugView.exceptionLabelBackground":          "{{ ui.danger.mid }}",
    "debugView.stateLabelForeground":              "{{ text.base }}",
    "debugView.stateLabelBackground":              "{{ surface.sunken }}",
    "debugView.valueChangedHighlight":             "{{ ui.accent2.mid }}{{ opacity.mid }}",
    "debugTokenExpression.name":                   "{{ syntax.05.base }}",
    "debugTokenExpression.value":                  "{{ syntax.04.base }}",
    "debugTokenExpression.string":                 "{{ syntax.06.base }}",
    "debugTokenExpression.boolean":                "{{ syntax.07.base }}",
    "debugTokenExpression.number":                 "{{ syntax.03.base }}",
    "debugTokenExpression.error":                  "{{ syntax.01.base }}",


    
    /* Debug Icons colors

       https://code.visualstudio.com/api/references/theme-color#debug-icons-colors
    */
    "debugIcon.breakpointForeground":                  "{{ ui.danger.base }}",
    "debugIcon.breakpointDisabledForeground":          "{{ icon.dim }}",
    "debugIcon.breakpointUnverifiedForeground":        "{{ icon.mid }}",
    "debugIcon.breakpointCurrentStackframeForeground": "{{ ui.warning.base }}",
    "debugIcon.breakpointStackframeForeground":        "{{ icon.mid }}",
    "debugIcon.startForeground":                       "{{ ui.success.base }}",
    "debugIcon.pauseForeground":                       "{{ ui.accent2.base }}",
    "debugIcon.stopForeground":                        "{{ ui.danger.base }}",
    "debugIcon.disconnectForeground":                  "{{ ui.accent2.base }}",
    "debugIcon.restartForeground":                     "{{ ui.success.base }}",
    "debugIcon.continueForeground":                    "{{ ui.accent2.base }}",
    "debugIcon.stepOverForeground":                    "{{ ui.accent2.base }}",
    "debugIcon.stepIntoForeground":                    "{{ ui.accent2.base }}",
    "debugIcon.stepOutForeground":                     "{{ ui.accent2.base }}",
    "debugIcon.stepBackForeground":                    "{{ ui.accent2.base }}",
    "debugConsole.infoForeground":                     "{{ ui.info.base }}",
    "debugConsole.warningForeground":                  "{{ ui.warning.base }}",
    "debugConsole.errorForeground":                    "{{ ui.danger.base }}",
    "debugConsole.sourceForeground":                   "{{ ui.accent2.base }}",
    "debugConsoleInputIcon.foreground":                "{{ icon.mid }}",


    /* Testing
       

       For Javasript with Jest test, install Facebook's Jest extension to see the Testing pane in the Activity Bar

       https://code.visualstudio.com/api/references/theme-color#testing-colors
    */ 

    "testing.iconErrored":                        "{{ ui.danger.base }}",
    "testing.iconErrored.retired":                "{{ ui.danger.base }}",
    "testing.iconFailed":                         "{{ ui.danger.base }}",
    "testing.iconFailed.retired":                 "{{ ui.danger.base }}",
    "testing.iconPassed":                         "{{ ui.success.base }}",
    "testing.iconPassed.retired":                 "{{ ui.success.base }}",
    "testing.iconQueued":                         "{{ ui.accent2.base}}",
    "testing.iconQueued.retired":                 "{{ ui.accent2.base}}",
    "testing.iconUnset":                          "{{ icon.mid }}",
    "testing.iconUnset.retired":                  "{{ icon.mid }}",
    "testing.iconSkipped":                        "{{ ui.warning.base }}",
    "testing.iconSkipped.retired":                "{{ ui.warning.base }}",
    "testing.runAction":                          "{{ ui.success.base }}",
    "testing.peekBorder":                         "{{ border.dim }}",
    "testing.peekHeaderBackground":               "{{ surface.none }}",
    "testing.message.error.decorationForeground": "{{ ui.danger.base }}",
    "testing.message.error.lineBackground":       "{{ ui.danger.base }}",
    "testing.message.info.decorationForeground":  "{{ ui.info.base }}",
    "testing.message.info.lineBackground":        "{{ ui.info.base }}",
    "testing.messagePeekBorder":                  "{{ border.dim }}",
    "testing.messagePeekHeaderBackground":        "{{ surface.none }}",
    // needs a plugin like Coverage Gutters to see the impact
    "testing.coveredBackground":                  "{{ ui.success.dim }}{{ opacity.mid-low }}", 
    "testing.coveredGutterBackground":            "{{ ui.success.dim }}{{ opacity.mid-low }}",
    "testing.coveredBorder":                      "{{ border.none }}",
    "testing.uncoveredBranchBackground":          "{{ ui.danger.dim }}{{ opacity.mid-low }}",
    "testing.uncoveredBackground":                "{{ ui.danger.dim }}{{ opacity.mid-low }}",
    "testing.uncoveredGutterBackground":          "{{ ui.danger.dim }}{{ opacity.mid-low }}",
    "testing.uncoveredBorder":                    "{{ border.none }}",
    "testing.coverCountBadgeBackground":          "{{ badge.bg }}",
    "testing.coverCountBadgeForeground":          "{{ badge.text }}",



    /* Symbol Icons Colors

       The theme colors for symbol icons that appears in the Outline view, breadcrumb navigation, and suggest widget
       https://code.visualstudio.com/api/references/theme-color#symbol-icons-colors
    */
    "symbolIcon.arrayForeground":            "{{ icon.dim }}",
    "symbolIcon.booleanForeground":          "{{ icon.dim }}",
    "symbolIcon.classForeground":            "{{ icon.dim }}",
    "symbolIcon.colorForeground":            "{{ icon.dim }}",
    "symbolIcon.constantForeground":         "{{ icon.dim }}",
    "symbolIcon.constructorForeground":      "{{ icon.dim }}",
    "symbolIcon.enumeratorForeground":       "{{ icon.dim }}",
    "symbolIcon.enumeratorMemberForeground": "{{ icon.dim }}",
    "symbolIcon.eventForeground":            "{{ icon.dim }}",
    "symbolIcon.fieldForeground":            "{{ icon.dim }}",
    "symbolIcon.fileForeground":             "{{ icon.dim }}",
    "symbolIcon.folderForeground":           "{{ icon.dim }}",
    "symbolIcon.functionForeground":         "{{ icon.dim }}",
    "symbolIcon.interfaceForeground":        "{{ icon.dim }}",
    "symbolIcon.keyForeground":              "{{ icon.dim }}",
    "symbolIcon.keywordForeground":          "{{ icon.dim }}",
    "symbolIcon.methodForeground":           "{{ icon.dim }}",
    "symbolIcon.moduleForeground":           "{{ icon.dim }}",
    "symbolIcon.namespaceForeground":        "{{ icon.dim }}",
    "symbolIcon.nullForeground":             "{{ icon.dim }}",
    "symbolIcon.numberForeground":           "{{ icon.dim }}",
    "symbolIcon.objectForeground":           "{{ icon.dim }}",
    "symbolIcon.operatorForeground":         "{{ icon.dim }}",
    "symbolIcon.packageForeground":          "{{ icon.dim }}",
    "symbolIcon.propertyForeground":         "{{ icon.dim }}",
    "symbolIcon.referenceForeground":        "{{ icon.dim }}",
    "symbolIcon.snippetForeground":          "{{ icon.dim }}",
    "symbolIcon.stringForeground":           "{{ icon.dim }}",
    "symbolIcon.structForeground":           "{{ icon.dim }}",
    "symbolIcon.textForeground":             "{{ icon.dim }}",
    "symbolIcon.typeParameterForeground":    "{{ icon.dim }}",
    "symbolIcon.unitForeground":             "{{ icon.dim }}",
    "symbolIcon.variableForeground":         "{{ icon.dim }}",


    /* Integrated terminal

       https://code.visualstudio.com/api/references/theme-color#integrated-terminal-colors
    */ 
    "terminal.ansiBlack":                    "{{ tint.90 }}",       // 30
    "terminal.ansiRed":                      "{{ syntax.01.dim }}", // 31
    "terminal.ansiGreen":                    "{{ syntax.04.dim }}", // 32
    "terminal.ansiYellow":                   "{{ syntax.03.dim }}", // 33
    "terminal.ansiBlue":                     "{{ syntax.06.dim }}", // 34
    "terminal.ansiMagenta":                  "{{ syntax.07.dim }}", // 35
    "terminal.ansiCyan":                     "{{ syntax.05.dim }}", // 36
    "terminal.ansiWhite":                    "{{ tint.30 }}",       // 37
    "terminal.ansiBrightBlack":              "{{ tint.60 }}",       // 90
    "terminal.ansiBrightRed":                "{{ syntax.01.base }}",// 91
    "terminal.ansiBrightGreen":              "{{ syntax.04.base }}",// 92
    "terminal.ansiBrightYellow":             "{{ syntax.03.base }}",// 93
    "terminal.ansiBrightBlue":               "{{ syntax.06.base }}",// 94
    "terminal.ansiBrightMagenta":            "{{ syntax.07.base }}",// 95
    "terminal.ansiBrightCyan":               "{{ syntax.05.base }}",// 96
    "terminal.ansiBrightWhite":              "{{ tint.20 }}",       // 97
    "terminal.foreground":                   "{{ text.base }}",     // 39
    "terminal.background":                   "{{ surface.base }}",
    "terminal.border":                       "{{ border.dim }}",
    "terminal.dropBackground":               "{{ surface.raised.low }}",
    "terminal.selectionBackground":          "{{ surface.raised.low }}",
    "terminal.inactiveSelectionBackground":  "{{ surface.raised.min }}",
    // "terminal.selectionForeground": "undefined to keep the color of the terminal text",
    "terminal.tab.activeBorder":             "{{ border.base }}",
    "terminalCursor.background":             "{{ surface.sunken }}",
    "terminalCursor.foreground":             "{{ text.mid }}",
    "terminalCommandDecoration.defaultBackground": "{{ surface.sunken }}",
    "terminalCommandDecoration.successBackground": "{{ ui.success.mid }}",
    "terminalCommandDecoration.errorBackground":   "{{ ui.danger.mid }}",
    "terminal.findMatchBackground":                "{{ ui.accent2.base }}{{ opacity.mid-low }}",
    "terminal.findMatchHighlightBackground":       "{{ surface.raised.mid }}",
    "terminal.findMatchBorder":                    "{{ ui.danger.base }}",
    "terminal.findMatchHighlightBorder":           "{{ ui.accent2.base }}",
    "terminal.hoverHighlightBackground":           "{{ surface.raised.low }}",
    "terminalOverviewRuler.cursorForeground":      "{{ surface.raised.mid }}",
    "terminalOverviewRuler.findMatchForeground":   "{{ ui.warning.mid }}",
    "terminalStickyScroll.background":             "{{ surface.base }}",
    "terminalStickyScrollHover.background":        "{{ surface.raised.low }}",



    /* Notification
       https://code.visualstudio.com/api/references/theme-color#notification-colors
    */
    "notificationCenter.border":             "{{ border.dim }}",
    "notificationCenterHeader.foreground":   "{{ text.base }}",
    "notificationCenterHeader.background":   "{{ surface.base }}",
    "notificationToast.border":              "{{ border.dim }}",
    "notifications.foreground":              "{{ text.base }}",
    "notifications.background":              "{{ surface.base }}",
    "notifications.border":                  "{{ border.dim }}",
    "notificationLink.foreground":           "{{ link.text }}",
    "notificationsErrorIcon.foreground":     "{{ ui.danger.base }}",
    "notificationsWarningIcon.foreground":   "{{ ui.warning.base }}",
    "notificationsInfoIcon.foreground":      "{{ ui.info.base }}",


    /* Banners

       You can see banner in Restricted Mode:
       Command Palette > Workspaces: Manage Workspaces Trust
       https://code.visualstudio.com/blogs/2021/07/06/workspace-trust#_workspace-trust-editor

       https://code.visualstudio.com/api/references/theme-color#banner-colors
    */ 
    "banner.background":     "{{ ui.accent2.base }}",
    "banner.foreground":     "{{ text.on-ui }}",
    "banner.iconForeground": "{{ text.on-ui }}",



    /* Extensions
    */
    "extensionButton.prominentForeground":      "{{ button.primary.text }}",
    "extensionButton.prominentBackground":      "{{ button.primary.bg  }}",
    "extensionButton.prominentHoverBackground": "{{ button.primary.bg-hover }}",
    "extensionButton.background":               "{{ button.primary.bg }}",
    "extensionButton.foreground":               "{{ button.primary.text }}",
    "extensionButton.hoverBackground":          "{{ button.primary.bg-hover }}",
    "extensionButton.separator":                "{{ border.mid }}",
    "extensionBadge.remoteBackground":          "{{ badge.bg }}",
    "extensionBadge.remoteForeground":          "{{ badge.text }}",
    "extensionIcon.starForeground":             "{{ icon.dim }}",
    "extensionIcon.verifiedForeground":         "{{ ui.accent1.base }}",
    "extensionIcon.preReleaseForeground":       "{{ ui.accent2.base }}",
    "extensionIcon.sponsorForeground":          "{{ ui.danger.base }}",


    /* Menu
    */
    "menubar.selectionForeground":           "{{ text.base }}",
    "menubar.selectionBackground":           "{{ surface.raised.low }}", 
    "menubar.selectionBorder":               "{{ border.none }}",
    "menu.foreground":                       "{{ text.base }}",
    "menu.background":                       "{{ surface.sunken }}",
    "menu.selectionForeground":              "{{ text.base }}",
    "menu.selectionBackground":              "{{ surface.raised.low }}",
    "menu.selectionBorder":                  "{{ border.none }}",
    "menu.separatorBackground":              "{{ border.dim }}",
    "menu.border":                           "{{ border.dim }}",

    /* Command center

       https://code.visualstudio.com/api/references/theme-color#command-center-colors
    */
    "commandCenter.foreground":          "{{ text.mid }}",
    "commandCenter.activeForeground":    "{{ text.base }}",
    "commandCenter.background":          "{{ surface.sunken }}",
    "commandCenter.activeBackground":    "{{ surface.raised.mid }}",
    "commandCenter.border":              "{{ border.dim }}",
    "commandCenter.inactiveForeground":  "{{ text.dim }}",
    "commandCenter.inactiveBorder":      "{{ border.dim }}",
    "commandCenter.activeBorder":        "{{ border.mid }}",
    "commandCenter.debuggingBackground": "{{ surface.sunken }}",


    /* Lightbulb
    */

    "editorLightBulb.foreground":            "{{ ui.warning.base }}",
    "editorLightBulbAutoFix.foreground":     "{{ ui.warning.base }}",
    "editorLightBulbAi.foreground":          "{{ ui.warning.base }}",



    /* Notebook 
       
       https://code.visualstudio.com/api/references/theme-color#notebook-colors
    */

    "notebook.editorBackground":                         "{{ surface.base }}",
    "notebook.cellBorderColor":                          "{{ border.dim }}",
    "notebook.cellHoverBackground":                      "{{ surface.raised.low }}",
    "notebook.cellInsertionIndicator":                   "{{ border.base }}",
    "notebook.cellStatusBarItemHoverBackground":         "{{ surface.raised.low }}",
    "notebook.cellToolbarSeparator":                     "{{ border.dim }}",
    "notebook.cellEditorBackground":                     "{{ surface.base }}",
    "notebook.focusedCellBackground":                    "{{ surface.none }}",
    "notebook.focusedCellBorder":                        "{{ border.dim }}",
    "notebook.focusedEditorBorder":                      "{{ border.mid }}",
    "notebook.inactiveFocusedCellBorder":                "{{ border.dim}}",
    "notebook.inactiveSelectedCellBorder":               "{{ border.dim }}",
    "notebook.outputContainerBackgroundColor":           "{{ surface.none }}",
    "notebook.outputContainerBorderColor":               "{{ border.dim }}",
    "notebook.selectedCellBackground":                   "{{ surface.none }}",
    "notebook.selectedCellBorder":                       "{{ border.mid }}",
    "notebook.symbolHighlightBackground":                "{{ surface.none }}",
    "notebookScrollbarSlider.background":                "{{ surface.raised.low }}",
    "notebookScrollbarSlider.activeBackground":          "{{ surface.raised.mid }}",
    "notebookScrollbarSlider.hoverBackground":           "{{ surface.raised.mid }}",
    "notebookStatusErrorIcon.foreground":                "{{ ui.danger.base }}",
    "notebookStatusRunningIcon.foreground":              "{{ ui.warning.base }}",
    "notebookStatusSuccessIcon.foreground":              "{{ ui.success.base }}",
    "notebookEditorOverviewRuler.runningCellForeground": "{{ ui.warning.mid }}",
    "interactive.activeCodeBorder":                      "{{ border.mid }}",
    "interactive.inactiveCodeBorder":                    "{{ border.dim }}",

    /* Welcome Page
       https://code.visualstudio.com/api/references/theme-color#welcome-page-colors
    */ 
    "welcomePage.background":               "{{ surface.base }}",
    "welcomePage.progress.background":      "{{ surface.raised.low }}",
    "welcomePage.progress.foreground":      "{{ ui.accent1.base }}",
    "welcomePage.tileBackground":           "{{ surface.raised.low }}",
    "welcomePage.tileHoverBackground":      "{{ surface.raised.mid }}",
    "welcomePage.tileBorder":               "{{ border.none }}",
    "walkThrough.embeddedEditorBackground": "{{ surface.base }}",
    "walkthrough.stepTitle.foreground":     "{{ text.base }}",


    /* Chart colors

       Missing an example of aplication

       https://code.visualstudio.com/api/references/theme-color#chart-colors
    */
    "charts.foreground": " {{ text.base }}",
    "charts.lines":      " {{ border.dim }}",
    "charts.red":        " {{ syntax.01.base }}",
    "charts.orange":     " {{ syntax.02.base }}",
    "charts.yellow":     " {{ syntax.03.base }}",
    "charts.green":      " {{ syntax.04.base }}",
    "charts.blue":       " {{ syntax.06.base }}",
    "charts.purple":     " {{ syntax.07.base }}",


    /* Ports Colors
       https://code.visualstudio.com/api/references/theme-color#ports-colors
    */
    "ports.iconRunningProcessForeground": "{{ ui.warning.base }}",


    /* Comments View colors
       https://code.visualstudio.com/api/references/theme-color#action-bar-colors
    */
    "commentsView.resolvedIcon":          "{{ ui.success.base }}",
    "commentsView.unresolvedIcon":        "{{ ui.warning.base }}",


    /* Action Bar colors
       https://code.visualstudio.com/api/references/theme-color#action-bar-colors
    */
    "actionBar.toggledBackground":        "{{ surface.raised.mid }}",


    /* Simple Find Widget
       https://code.visualstudio.com/api/references/theme-color#simple-find-widget
    */
    "simpleFindWidget.sashBorder":        "{{ border.dim }}",

    
  },
  "tokenColors": [
    {
      "scope": "emphasis",
      "settings": {
        "fontStyle": "italic"
      }
    },
    {
      "scope": "strong",
      "settings": {
        "fontStyle": "bold"
      }
    },
    {
      "scope": "header",
      "settings": {
        "foreground": "{{ syntax.06.dim }}"
      }
    },
    {
      "scope": [
        "comment",
        "punctuation.definition.comment",
        "string.comment.buffered.block.pug",
        "string.quoted.docstring.multi.python"
      ],
      "settings": {
        "foreground": "{{ text.dim }}",
        "fontStyle": "italic"
      }
    },
    {
      "scope": [
        "constant",
        "support.constant",
        "variable.arguments"
      ],
      "settings": {
        "foreground": "{{ text.base }}"
      }
    },
    {
      "scope": "constant.rgb-value",
      "settings": {
        "foreground": "{{ text.base }}"
      }
    },
    {
      "scope": "entity.name.selector",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },

    {
      "scope": [
        "entity.name.tag",
        "punctuation.tag"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": [
        "invalid",
        "invalid.illegal"
      ],
      "settings": {
        "foreground": "{{ syntax.01.dim }}"
      }
    },
    {
      "scope": "invalid.deprecated",
      "settings": {
        "foreground": "{{ syntax.07.dim }}"
      }
    },
    {
      "scope": "meta.selector",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "meta.preprocessor",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "meta.preprocessor.string",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": "meta.preprocessor.numeric",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": "meta.header.diff",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": [
        "storage",
        "storage.type.function",
        "keyword.control",

      ],
      "settings": {
        "foreground": "{{ syntax.07.dim }}"
      }
    },
    {
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": "storage.modifier",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "string",
      "settings": {
        "foreground": "{{ syntax.08.base }}"
      }
    },
    {
      "scope": "string.tag",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": "string.value",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": "string.regexp",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "string.escape",
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": "string.quasi",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "string.entity",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": "object",
      "settings": {
        "foreground": "{{ text.base }}"
      }
    },
    {
      "scope": "module.node",
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "scope": "support.type.property-name",
      "settings": {
        "foreground": "{{ syntax.05.dim }}"
      }
    },
    {
      "scope": "keyword",
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },

    {
      "scope": "keyword.control.module",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "keyword.control.less",
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": "keyword.operator",
      "settings": {
        "foreground": "{{ text.mid }}"
      }
    },
    {
      "scope": "keyword.operator.new",
      "settings": {
        "foreground": "{{ text.mid }}"
      }
    },
    // keyword.other.unit impacts CSS/SCSS, anything else?
    // if yes, I can target it as "source.css keyword.other..."
    {
      "scope": "keyword.other.unit",
      "settings": {
        "foreground": "{{ text.mid }}"
      }
    },
    {
      "scope": "metatag.php",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "support.function.git-rebase",
      "settings": {
        "foreground": "{{ syntax.05.dim }}"
      }
    },
    {
      "scope": "constant.sha.git-rebase",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "name": "Types declaration and references",
      "scope": [
        "meta.type.name",
        "meta.return.type",
        "meta.return-type",
        "meta.cast",
        "meta.type.annotation",
        "support.type",
        "storage.type.cs",
        "variable.class"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": [
        "variable.this",
        "support.variable"
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    {
      "scope": [
        "entity.name",
        "entity.static",
        "entity.name.class.static.function",
        "entity.name.function",
        "entity.name.class",
        "entity.name.type"
      ],
      "settings": {
        "foreground": "{{ text.base }}"
      }
    },
    {
      "name": "Function declarations",
      "scope": [
        "entity.function",
        "entity.name.function.static"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "entity.name.function.function-call",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "support.function.builtin",
      "settings": {
        "foreground": "{{ text.mid }}"
      }
    },
    {
      "scope": [
        "entity.name.method",
        "entity.name.method.function-call",
        "entity.name.static.function-call"
      ],
      "settings": {
        "foreground": "{{ syntax.05.dim }}"
      }
    },
    {
      "scope": "brace",
      "settings": {
        "foreground": "{{ text.base }}"
      }
    },
    {
      "name": "variables",
      "scope": [
        "meta.parameter.type.variable",
        "variable.parameter",
        "variable.name",
        "variable.other",
        "variable",
        "string.constant.other.placeholder"
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "scope": "prototype",
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    {
      "scope": "storage.type.class",
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": [
        "punctuation",
        "attribute_value",
        "meta.tag.other"
      ],
      "settings": {
        "foreground": "{{ text.dim }}"
      }
    },
    {
      "scope": "punctuation.quoted",
      "settings": {
        "foreground": "{{ text.base }}"
      }
    },
    {
      "scope": "punctuation.quasi",
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "name": "URL",
      "scope": [
        "*url*",
        "*link*",
        "*uri*"
      ],
      "settings": {
        "fontStyle": "underline"
      }
    },
    // ----------------------------------------
    //            LANGUAGE SPECIFIC
    // ----------------------------------------
    // PYTHON ----------------------------------------
    {
      "scope": [
        "source.python",
        "meta.function-call.arguments"
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "name": "Python function",
      "scope": [
        "meta.function.python",
        "entity.name.function.python"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "name": "Python Function and Class definition keywords",
      "scope": [
        "storage.type.function.python",
        "storage.modifier.declaration",
        "storage.type.class.python"
      ],
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": [
        "meta.function-call.generic"
      ],
      
      "settings": {
        "foreground": "{{ text.base }}"
      }
    },
    {
      "name": "Python Function decorator",
      "scope": "entity.name.function.decorator",
      "settings": {
        "foreground": "{{ syntax.03.base }}",
        "fontStyle": "bold"
      }
    },
    {
      "name": "Python Support Tyype",
      "scope": "support.type.exception.python",
      "settings": {
        "foreground": "{{ text.mid }}",
      }
    },
    {
      "name": "Python ALL CAPS",
      "scope": "constant.other.caps",
      "settings": {
        "fontStyle": "bold"
      }
    },
    // SHELL ----------------------------------------
    {
      "scope": "keyword.operator.logical",
      "settings": {
        "foreground": "{{ text.dim }}"
      }
    },
    {
      "scope": "punctuation.definition.logical-expression",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "string.inperpolated.dollar.shell",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": [
        "string.interpolated.dollar.shell",
        "string.interpolated.backtick.shell"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    // C C++ ----------------------------------------
    {
      "scope": "keyword.control.directive",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "support.function.C99",
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    // C# ----------------------------------------
    {
      "name": "C# functions & namespace",
      "scope": [
        "meta.function.cs",
        "entity.name.function.cs",
        "entity.name.type.namespace.cs"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "name": "C# Variables",
      "scope": [
        "keyword.other.using.cs",
        "entity.name.variable.field.cs",
        "entity.name.variable.local.cs",
        "variable.other.readwrite.cs"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "name": "C# This",
      "scope": [
        "keyword.other.this.cs",
        "keyword.other.base.cs"
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    // MAKEFILE ----------------------------------------
    {
      "scope": "meta.scope.prerequisites",
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": "entity.name.function.target",
      "settings": {
        "foreground": "{{ syntax.04.base }}",
        "fontStyle": "bold"
      }
    },
    // JAVA ----------------------------------------
    {
      "name": "coloring of the Java import and package identifiers",
      "scope": [
        "storage.modifier.import.java",
        "storage.modifier.package.java"
      ],
      "settings": {
        "foreground": "{{ text.mid }}"
      }
    },
    {
      "scope": [
        "keyword.other.import.java",
        "keyword.other.package.java"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "storage.type.java",
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": "storage.type.annotation",
      "settings": {
        "foreground": "{{ syntax.06.base }}",
        "fontStyle": "bold"
      }
    },
    {
      "scope": "keyword.other.documentation.javadoc",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "comment.block.javadoc variable.parameter.java",
      "settings": {
        "foreground": "{{ syntax.04.base }}",
        "fontStyle": "bold"
      }
    },
    {
      "scope": [
        "source.java variable.other.object",
        "source.java variable.other.definition.java"
      ],
      "settings": {
        "foreground": "{{ text.base }}"
      }
    },
    // LISP ----------------------------------------
    {
      "name": "Lisp optional function parameters",
      "scope": "meta.function-parameters.lisp",
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    // MARKUP (MARKDOWN) --------------------------------
    {
      "scope": "markup.underline",
      "settings": {
        "fontStyle": "underline"
      }
    },
    {
      "scope": "string.other.link.title.markdown",
      "settings": {
        "foreground": "{{ text.base }}",
      }
    },
    {
      "scope": [
        "markup.underline.link",
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    {
      "scope": [
        "markup.heading.markdown",
        "entity.name.section.markdown"
      ],
      "settings": {
        "foreground": "{{ syntax.08.base }}"
      }
    },
    {
      "scope": [
        "support.function.text.markdown.notes.wiki-link.title",
        "string.other.link"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "markup.bold",
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": "markup.italic",
      "settings": {
        "fontStyle": "italic",
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": "markup.inserted",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": ["markup.deleted"],
      "settings": {
        "foreground": "{{ text.dim }}"
      }
    },
    {
      "scope": [
        "markup.strikethrough.markdown",
        "punctuation.definition.strikethrough.markdown"
      ],
      "settings": {
        "foreground": "{{ text.dim }}",
      }
    },
    {
      "scope": "markup.changed",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": [
        "markup.inline.raw",
        "markup.fenced_code.block"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },


    {
      "scope": [
        "text.markdown.notes.tag",
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "scope": [
        "punctuation.definition.list.begin.markdown",
        "markup.quote.markdown",
        "punctuation.definition.heading.markdown",
        "punctuation.definition.wiki-link",
        "punctuation.definition.string.begin.markdown",
        "punctuation.definition.string.end.markdown",
        "punctuation.definition.metadata.markdown",
        "punctuation.definition.italic.markdown",
        "punctuation.definition.bold.markdown",
      ],
      "settings": {
        "foreground": "{{ text.dim }}"
      }
    },
    // Mermaid -------------------------------------
    {
      "scope": [
        "keyword.control.mermaid",
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    {
      "scope": [
        "entity.name.type.class.mermaid",
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": [
        "storage.type.mermaid",
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": [
        "entity.name.function.mermaid",
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": [
        "punctuation.parenthesis.open.mermaid",
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    
    // JSON ----------------------------------------
    {
      "scope": "string.quoted.double.json",
      "settings": {
        "foreground": "{{ text.base }}"
      }
    },
    {
      "name": "JSON Level 0",
      "scope": [
        "source.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "name": "JSON Level 1",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "name": "JSON Level 2",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "name": "JSON Level 3",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "name": "JSON Level 4",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    // CSS / SCSS ----------------------------------
    {
      "scope": [
        "string.quoted.double.scss"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": [
        "entity.other.attribute-name.class.css"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },  
    {
      "scope": [
        "entity.name.tag.css",
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": [
        "entity.name.tag.reference.scss",
        "entity.name.tag.wildcard.scss",
        "entity.other.attribute-name.pseudo-class.css",
        "entity.other.attribute-name.parent-selector-suffix.css",
        "punctuation.definition.entity.css",
        "source.css.scss",
        "entity.name.tag.custom.scss"

      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": [
        "variable.css",
        "variable.scss",
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "scope": [
        "support.type.property-name.css",
        "meta.property-name.scss",
        "support.type.property-name.media.css",
        "source.css.scss"
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },


    {
      "scope": [
        "source.css support.function.transform",
        "source.css support.function.timing-function",
        "source.css support.function.misc",
        "punctuation.definition.keyword.scss",
        "keyword.control.at-rule.media.scss",
        "keyword.control.at-rule.mixin.scss",
        "keyword.control.else.scss",
        "keyword.control.if.scss",
        "keyword.control.content.scss",
        "keyword.operator.logical.scss",
      ],
      "settings": {
        "foreground": "{{ syntax.08.base }}"
      }
    },


    // HTML / XML ----------------------------------------
    {
      "scope": [
        "punctuation.definition.tag",
      ],
      "settings": {
        "foreground": "{{ text.dim }}"
      }
    },
    {
      "scope": [
        "text.html punctuation.tag"
      ],
      "settings": {
        "foreground": "{{ syntax.01.base }}",
      }
    },
    {
      "scope": [
        "string.quoted.double.html",
        "string.quoted.double.xml",
        "string.quoted.double.js"
      ],
      "settings": {
        "foreground": "{{ syntax.08.base }}",
      }
    },

    {
      "scope": [
        "entity.other.attribute-name",
        "entity.other.attribute-name.html"
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}",
      }
    },
    // pug ----------------------------------------------
    {
      "scope": [
        "entity.other.attribute-name.class.pug"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}",
      }
    },  
    // vue ---------------------------------------------- 
    {
      "scope": [
        "meta.directive.vue"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}",
      }
    },  
    // javascript ---------------------------------------
    {
      "scope": [
        "source.js",
        "source.ts"
      ],
      "settings": {
        "foreground": "{{ text.mid }}"
      }
    },
    {
      "scope": [
        "entity.name.type.class.js"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": [
        "variable.other.property.js"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": [
        "meta.object-literal.key.js"
      ],
      "settings": {
        "foreground": "{{ text.base }}"
      }
    },
 
    // JSDoc ---------------------------------------
    {
      "scope": [
        "punctuation.definition.block.tag.jsdoc",
        "storage.type.class.jsdoc"
      ],
      "settings": {
        "foreground": "{{ syntax.07.dim }}"
      }
    },

    {
      "scope": [
        "entity.name.type.instance.jsdoc"
      ],
      "settings": {
        "foreground": "{{ text.mid }}"
      }
    },

    {
      "scope": [
        "variable.other.jsdoc"
      ],
      "settings": {
        "foreground": "{{ syntax.06.dim }}"
      }
    },



    // golang --------------------------------------------
    {
      "scope": [
        "source.go storage.type"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": [
        "source.go entity.name.import"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": [
        "source.go keyword.package",
        "source.go keyword.import"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": [
        "source.go keyword.interface",
        "source.go keyword.struct"
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "scope": [
        "source.go entity.name.type"
      ],
      "settings": {
        "foreground": "{{ text.base }}"
      }
    },
    {
      "scope": [
        "source.go entity.name.function"
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    // cucumber
    {
      "scope": [
        "keyword.control.cucumber.table"
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    // REASONML ------------------------------------
    {
      "name": "ReasonML String",
      "scope": [
        "source.reason string.double",
        "source.reason string.regexp"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "name": "ReasonML equals sign",
      "scope": [
        "source.reason keyword.control.less"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "name": "ReasonML variable",
      "scope": [
        "source.reason entity.name.function"
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "name": "ReasonML property",
      "scope": [
        "source.reason support.property-value",
        "source.reason entity.name.filename"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    // POWERSHELL ------------------------------------
    {
      "name": "Powershell member",
      "scope": [
        "source.powershell variable.other.member.powershell"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "name": "Powershell function",
      "scope": [
        "source.powershell support.function.powershell"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "name": "Powershell function attribute",
      "scope": [
        "source.powershell support.function.attribute.powershell"
      ],
      "settings": {
        "foreground": "{{ text.mid }}"
      }
    },
    {
      "name": "Powershell hashtable member",
      "scope": [
        "source.powershell meta.hashtable.assignment.powershell variable.other.readwrite.powershell"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    }
  ],

}
