/* Comments */
:root {
  --gray-100: #1b1b1b;
  --gray-90: #262626;
  --gray-80: #393939;
  --gray-70: #525252;
  --gray-60: #6f6f6f;
  --gray-50: #8d8d8d;
  --gray-40: #a8a8a8;
  --gray-30: #c6c6c6;
  --gray-20: #e0e0e0;
  --gray-10: #f4f4f4;

  --neutral-100: var(--gray-100);
  --neutral-90: var(--gray-90);
  --neutral-80: var(--gray-80);
  --neutral-70: var(--gray-70);
  --neutral-60: var(--gray-60);
  --neutral-50: var(--gray-50);
  --neutral-40: var(--gray-40);
  --neutral-30: var(--gray-30);
  --neutral-20: var(--gray-20);
  --neutral-10: var(--gray-10);
  --neutral-0: var(--white);
}

body {
  font-family: Arial, sans-serif; /* font family */
  font-size: 16px; /* font size */
  line-height: 1.5; /* line height */
  background-color: #f2f2f2; /* background color */
  color: #333; /* text color */
  margin: 0; /* margin */
  padding: 0; /* padding */
}

a {
  text-decoration: none; /* text decoration */
  color: #0077cc; /* link color */
}

button {
  background-color: var(--gray-100); /* button background color */
  color: #fff; /* button text color */
  border: none; /* border */
  border-radius: 4px; /* border radius */
  padding: 10px 20px; /* padding */
  font-size: 16px; /* font size */
  cursor: pointer; /* cursor */
  transition: background-color 0.3s ease; /* transition */
}

button:hover {
  background-color: #005c99; /* button background color on hover */
}

.class:hover {
  background-color: #005c99; /* button background color on hover */
}