{
  "name": "B theme",
  "type": "dark",
  "tokenColors": [
    {
      "settings": {
        "background": "{{gray10}}",
        "foreground": "{{gray90}}"
      }
    },
    {
      "scope": "emphasis",
      "settings": {
        "fontStyle": "italic"
      }
    },
    {
      "scope": "strong",
      "settings": {
        "fontStyle": "bold"
      }
    },
    {
      "scope": "header",
      "settings": {
        "foreground": "{{blue1}}"
      }
    },
    {
      "scope": [
        "comment",
        "punctuation.definition.comment"
      ],
      "settings": {
        "foreground": "{{gray50}}",
        "fontStyle": "italic"
      }
    },
    {
      "scope": [
        "constant",
        "support.constant",
        "variable.arguments"
      ],
      "settings": {
        "foreground": "{{purple2}}"
      }
    },
    {
      "scope": "constant.rgb-value",
      "settings": {
        "foreground": "{{gray90}}"
      }
    },
    {
      "scope": "entity.name.selector",
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": "entity.other.attribute-name",
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "scope": [
        "entity.name.tag",
        "punctuation.tag"
      ],
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": [
        "invalid",
        "invalid.illegal"
      ],
      "settings": {
        "foreground": "{{red1}}"
      }
    },
    {
      "scope": "invalid.deprecated",
      "settings": {
        "foreground": "{{purple1}}"
      }
    },
    {
      "scope": "meta.selector",
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": "meta.preprocessor",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "meta.preprocessor.string",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "meta.preprocessor.numeric",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "meta.header.diff",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "storage",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": "storage.modifier",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "string",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "string.tag",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "string.value",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "string.regexp",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "string.escape",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": "string.quasi",
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": "string.entity",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "object",
      "settings": {
        "foreground": "{{gray90}}"
      }
    },
    {
      "scope": "module.node",
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "scope": "support.type.property-name",
      "settings": {
        "foreground": "{{aqua1}}"
      }
    },
    {
      "scope": "keyword",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": "keyword.control",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": "keyword.control.module",
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": "keyword.control.less",
      "settings": {
        "foreground": "{{yellow1}}"
      }
    },
    {
      "scope": "keyword.operator",
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": "keyword.operator.new",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "keyword.other.unit",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "metatag.php",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "support.function.git-rebase",
      "settings": {
        "foreground": "{{aqua1}}"
      }
    },
    {
      "scope": "constant.sha.git-rebase",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "name": "Types declaration and references",
      "scope": [
        "meta.type.name",
        "meta.return.type",
        "meta.return-type",
        "meta.cast",
        "meta.type.annotation",
        "support.type",
        "storage.type.cs",
        "variable.class"
      ],
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "scope": [
        "variable.this",
        "support.variable"
      ],
      "settings": {
        "foreground": "{{purple2}}"
      }
    },
    {
      "scope": [
        "entity.name",
        "entity.static",
        "entity.name.class.static.function",
        "entity.name.function",
        "entity.name.class",
        "entity.name.type"
      ],
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "name": "Function declarations",
      "scope": [
        "storage.type.function",
        "entity.function",
        "entity.name.function.static"
      ],
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": "entity.name.function.function-call",
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": "support.function.builtin",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": [
        "entity.name.method",
        "entity.name.method.function-call",
        "entity.name.static.function-call"
      ],
      "settings": {
        "foreground": "{{aqua1}}"
      }
    },
    {
      "scope": "brace",
      "settings": {
        "foreground": "{{gray80}}"
      }
    },
    {
      "name": "variables",
      "scope": [
        "meta.parameter.type.variable",
        "variable.parameter",
        "variable.name",
        "variable.other",
        "variable",
        "string.constant.other.placeholder"
      ],
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "scope": "prototype",
      "settings": {
        "foreground": "{{purple2}}"
      }
    },
    {
      "scope": "storage.type.class",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": [
        "punctuation"
      ],
      "settings": {
        "foreground": "{{gray60}}"
      }
    },
    {
      "scope": "punctuation.quoted",
      "settings": {
        "foreground": "{{gray90}}"
      }
    },
    {
      "scope": "punctuation.quasi",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "name": "URL",
      "scope": [
        "*url*",
        "*link*",
        "*uri*"
      ],
      "settings": {
        "fontStyle": "underline"
      }
    },
    // ----------------------------------------
    //            LANGUAGE SPECIFIC
    // ----------------------------------------
    // PYTHON ----------------------------------------
    {
      "name": "Python function",
      "scope": [
        "meta.function.python",
        "entity.name.function.python"
      ],
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "name": "Python Function and Class definition keywords",
      "scope": [
        "storage.type.function.python",
        "storage.modifier.declaration",
        "storage.type.class.python"
      ],
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "name": "Python Function Call",
      "scope": "meta.function-call.generic",
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "name": "Python Function Arguments",
      "scope": "meta.function-call.arguments",
      "settings": {
        "foreground": "{{gray80}}"
      }
    },
    {
      "name": "Python Function decorator",
      "scope": "entity.name.function.decorator",
      "settings": {
        "foreground": "{{yellow2}}",
        "fontStyle": "bold"
      }
    },
    {
      "name": "Python ALL CAPS",
      "scope": "constant.other.caps",
      "settings": {
        "fontStyle": "bold"
      }
    },
    // SHELL ----------------------------------------
    {
      "scope": "keyword.operator.logical",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": "punctuation.definition.logical-expression",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "string.inperpolated.dollar.shell",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": [
        "string.interpolated.dollar.shell",
        "string.interpolated.backtick.shell"
      ],
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    // C C++ ----------------------------------------
    {
      "scope": "keyword.control.directive",
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": "support.function.C99",
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    // C# ----------------------------------------
    {
      "name": "C# functions & namespace",
      "scope": [
        "meta.function.cs",
        "entity.name.function.cs",
        "entity.name.type.namespace.cs"
      ],
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "name": "C# Variables",
      "scope": [
        "keyword.other.using.cs",
        "entity.name.variable.field.cs",
        "entity.name.variable.local.cs",
        "variable.other.readwrite.cs"
      ],
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "name": "C# This",
      "scope": [
        "keyword.other.this.cs",
        "keyword.other.base.cs"
      ],
      "settings": {
        "foreground": "{{purple2}}"
      }
    },
    // MAKEFILE ----------------------------------------
    {
      "scope": "meta.scope.prerequisites",
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "scope": "entity.name.function.target",
      "settings": {
        "foreground": "{{green2}}",
        "fontStyle": "bold"
      }
    },
    // JAVA ----------------------------------------
    {
      "name": "coloring of the Java import and package identifiers",
      "scope": [
        "storage.modifier.import.java",
        "storage.modifier.package.java"
      ],
      "settings": {
        "foreground": "{{gray70}}"
      }
    },
    {
      "scope": [
        "keyword.other.import.java",
        "keyword.other.package.java"
      ],
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": "storage.type.java",
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "scope": "storage.type.annotation",
      "settings": {
        "foreground": "{{blue2}}",
        "fontStyle": "bold"
      }
    },
    {
      "scope": "keyword.other.documentation.javadoc",
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": "comment.block.javadoc variable.parameter.java",
      "settings": {
        "foreground": "{{green2}}",
        "fontStyle": "bold"
      }
    },
    {
      "scope": [
        "source.java variable.other.object",
        "source.java variable.other.definition.java"
      ],
      "settings": {
        "foreground": "{{gray90}}"
      }
    },
    // LISP ----------------------------------------
    {
      "name": "Lisp optional function parameters",
      "scope": "meta.function-parameters.lisp",
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    // MARKUP ----------------------------------------
    {
      "scope": "markup.underline",
      "settings": {
        "fontStyle": "underline"
      }
    },
    {
      "scope": "string.other.link.title.markdown",
      "settings": {
        "foreground": "{{gray50}}",
        "fontStyle": "underline"
      }
    },
    {
      "scope": "markup.underline.link",
      "settings": {
        "foreground": "{{purple2}}"
      }
    },
    {
      "scope": "markup.bold",
      "settings": {
        "fontStyle": "bold",
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "markup.heading",
      "settings": {
        "fontStyle": "bold",
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "markup.italic",
      "settings": {
        "fontStyle": "italic"
      }
    },
    {
      "scope": "markup.inserted",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "markup.deleted",
      "settings": {
        "foreground": "{{orange1}}"
      }
    },
    {
      "scope": "markup.changed",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "markup.punctuation.quote.beginning",
      "settings": {
        "foreground": "{{green1}}"
      }
    },
    {
      "scope": "markup.punctuation.list.beginning",
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "scope": [
        "markup.inline.raw",
        "markup.fenced_code.block"
      ],
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    // JSON ----------------------------------------
    {
      "scope": "string.quoted.double.json",
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "name": "JSON Level 0",
      "scope": [
        "source.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "name": "JSON Level 1",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "name": "JSON Level 2",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{purple2}}"
      }
    },
    {
      "name": "JSON Level 3",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    // CSS ----------------------------------------
    {
      "scope": "entity.other.attribute-name.css",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "source.css meta.selector",
      "settings": {
        "foreground": "{{gray90}}"
      }
    },
    {
      "scope": "support.type.property-name.css",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "entity.other.attribute-name.class",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": [
        "source.css support.function.transform",
        "source.css support.function.timing-function",
        "source.css support.function.misc"
      ],
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "name": "CSS property value",
      "scope": [
        "support.property-value",
        "constant.rgb-value",
        "support.property-value.scss",
        "constant.rgb-value.scss"
      ],
      "settings": {
        "foreground": "{{orange1}}"
      }
    },
    {
      "scope": [
        "entity.name.tag.css"
      ],
      "settings": {
        "fontStyle": "normal"
      }
    },
    // HTML / XML ----------------------------------------
    {
      "scope": [
        "punctuation.definition.tag"
      ],
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "scope": [
        "text.html entity.name.tag",
        "text.html punctuation.tag"
      ],
      "settings": {
        "foreground": "{{aqua2}}",
        "fontStyle": "bold"
      }
    },
    // javascript ---------------------------------------
    {
      "scope": [
        "source.js variable.language"
      ],
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    // typescript ---------------------------------------
    {
      "scope": [
        "source.ts variable.language"
      ],
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    // golang --------------------------------------------
    {
      "scope": [
        "source.go storage.type"
      ],
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "scope": [
        "source.go entity.name.import"
      ],
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": [
        "source.go keyword.package",
        "source.go keyword.import"
      ],
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "scope": [
        "source.go keyword.interface",
        "source.go keyword.struct"
      ],
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "scope": [
        "source.go entity.name.type"
      ],
      "settings": {
        "foreground": "{{gray90}}"
      }
    },
    {
      "scope": [
        "source.go entity.name.function"
      ],
      "settings": {
        "foreground": "{{purple2}}"
      }
    },
    // cucumber
    {
      "scope": [
        "keyword.control.cucumber.table"
      ],
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    // REASONML ------------------------------------
    {
      "name": "ReasonML String",
      "scope": [
        "source.reason string.double",
        "source.reason string.regexp"
      ],
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "name": "ReasonML equals sign",
      "scope": [
        "source.reason keyword.control.less"
      ],
      "settings": {
        "foreground": "{{aqua2}}"
      }
    },
    {
      "name": "ReasonML variable",
      "scope": [
        "source.reason entity.name.function"
      ],
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "name": "ReasonML property",
      "scope": [
        "source.reason support.property-value",
        "source.reason entity.name.filename"
      ],
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    // POWERSHELL ------------------------------------
    {
      "name": "Powershell member",
      "scope": [
        "source.powershell variable.other.member.powershell"
      ],
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "name": "Powershell function",
      "scope": [
        "source.powershell support.function.powershell"
      ],
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "name": "Powershell function attribute",
      "scope": [
        "source.powershell support.function.attribute.powershell"
      ],
      "settings": {
        "foreground": "{{gray70}}"
      }
    },
    {
      "name": "Powershell hashtable member",
      "scope": [
        "source.powershell meta.hashtable.assignment.powershell variable.other.readwrite.powershell"
      ],
      "settings": {
        "foreground": "{{orange2}}"
      }
    }
  ],
  "colors": {
    // BASE COLORS
    "focusBorder": "{{gray20}}",
    "foreground": "{{gray90}}",
    "widget.shadow": "{{gray10}}30",
    "selection.background": "{{aqua1}}80",
    "errorForeground": "{{red2}}",
    // BUTTON
    "button.background": "{{blue1}}80",
    "button.foreground": "{{gray90}}",
    "button.hoverBackground": "{{blue1}}60",
    // DROPDOWN
    "dropdown.background": "{{gray10}}",
    "dropdown.border": "{{gray20}}",
    "dropdown.foreground": "{{gray90}}",
    // INPUT
    "input.background": "{{gray90}}05",
    "input.border": "{{gray20}}",
    "input.foreground": "{{gray90}}",
    "input.placeholderForeground": "{{gray90}}60",
    "inputValidation.errorBorder": "{{red2}}",
    "inputValidation.errorBackground": "{{red1}}80",
    "inputValidation.infoBorder": "{{blue2}}",
    "inputValidation.infoBackground": "{{blue1}}80",
    "inputValidation.warningBorder": "{{yellow2}}",
    "inputValidation.warningBackground": "{{yellow1}}80",
    "inputOption.activeBorder": "{{gray90}}60",
    // SCROLL BAR
    "scrollbar.shadow": "{{gray10}}",
    "scrollbarSlider.activeBackground": "{{aqua1}}",
    "scrollbarSlider.hoverBackground": "{{gray30}}",
    "scrollbarSlider.background": "{{gray25}}99",
    // BADGE
    "badge.background": "{{purple2}}",
    "badge.foreground": "{{gray10}}",
    // PROGRESS BAR
    "progressBar.background": "{{aqua1}}",
    // LISTS AND TREES
    "list.activeSelectionBackground": "{{gray20}}80",
    "list.activeSelectionForeground": "{{aqua2}}",
    "list.hoverBackground": "{{gray20}}80",
    "list.hoverForeground": "{{gray80}}",
    "list.focusBackground": "{{gray20}}",
    "list.focusForeground": "{{gray90}}",
    "list.inactiveSelectionForeground": "{{aqua1}}",
    "list.inactiveSelectionBackground": "{{gray20}}80",
    "list.dropBackground": "{{gray20}}",
    "list.highlightForeground": "{{aqua1}}",
    // SIDE BAR
    "sideBar.background": "{{gray10}}",
    "sideBar.foreground": "{{gray80}}",
    "sideBar.border": "{{gray20}}",
    "sideBarTitle.foreground": "{{gray90}}",
    "sideBarSectionHeader.background": "{{gray10}}00",
    "sideBarSectionHeader.foreground": "{{gray90}}",
    // ACTIVITY BAR
    "activityBar.background": "{{gray10}}",
    "activityBar.dropBackground": "{{gray10}}",
    "activityBar.foreground": "{{gray90}}",
    "activityBar.border": "{{gray20}}",
    "activityBarBadge.background": "{{blue1}}",
    "activityBarBadge.foreground": "{{gray90}}",
    // EDITOR GROUPS
    "editorGroup.background": "{{gray20}}",
    "editorGroup.border": "{{gray20}}",
    "editorGroup.dropBackground": "{{gray20}}60",
    "editorGroupHeader.noTabsBackground": "{{gray20}}",
    "editorGroupHeader.tabsBackground": "{{gray10}}",
    "editorGroupHeader.tabsBorder": "{{gray20}}",
    // TABS
    "tab.border": "{{gray10}}00",
    "tab.activeBorder": "{{aqua1}}",
    "tab.activeBackground": "{{gray20}}",
    "tab.activeForeground": "{{gray90}}",
    "tab.inactiveForeground": "{{gray60}}",
    "tab.inactiveBackground": "{{gray10}}",
    "tab.unfocusedActiveForeground": "{{gray60}}",
    "tab.unfocusedActiveBorder": "{{gray10}}00",
    "tab.unfocusedInactiveForeground": "{{gray50}}",
    // EDITOR
    "editor.background": "{{gray10}}",
    "editor.foreground": "{{gray90}}",
    "editorLineNumber.foreground": "{{gray30}}",
    "editorCursor.foreground": "{{gray90}}",
    "editor.selectionBackground": "{{aqua1}}40",
    "editor.selectionHighlightBackground": "{{yellow2}}40",
    "editor.hoverHighlightBackground": "{{aqua1}}50",
    "editorLink.activeForeground": "{{gray90}}",
    "editor.findMatchBackground": "{{blue2}}70",
    "editor.findMatchHighlightBackground": "{{orange2}}30",
    "editor.findRangeHighlightBackground": "{{blue2}}70",
    "editor.lineHighlightBackground": "{{gray20}}60",
    "editor.lineHighlightBorder": "{{gray20}}00",
    "editorWhitespace.foreground": "{{gray60}}20",
    "editorIndentGuide.background": "{{gray60}}20",
    "editorIndentGuide.activeBackground": "{{gray60}}50",
    "editorRuler.foreground": "{{gray60}}40",
    "editorCodeLens.foreground": "{{gray60}}90",
    "editorBracketMatch.border": "{{gray10}}00",
    "editorBracketMatch.background": "{{gray50}}80",
    "editorHoverWidget.background": "{{gray10}}",
    "editorHoverWidget.border": "{{gray20}}",
    "editorOverviewRuler.border": "{{gray10}}00",
    "editorOverviewRuler.findMatchForeground": "{{gray70}}",
    "editorOverviewRuler.rangeHighlightForeground": "{{gray70}}",
    "editorOverviewRuler.selectionHighlightForeground": "{{gray30}}",
    "editorOverviewRuler.wordHighlightForeground": "{{gray30}}",
    "editorOverviewRuler.wordHighlightStrongForeground": "{{gray30}}",
    "editorOverviewRuler.modifiedForeground": "{{blue2}}",
    "editorOverviewRuler.addedForeground": "{{blue2}}",
    "editorOverviewRuler.deletedForeground": "{{blue2}}",
    "editorOverviewRuler.errorForeground": "{{red2}}",
    "editorOverviewRuler.warningForeground": "{{yellow1}}",
    "editorOverviewRuler.infoForeground": "{{purple2}}",
    "editorGutter.background": "{{gray10}}00",
    "editorGutter.modifiedBackground": "{{blue2}}",
    "editorGutter.addedBackground": "{{green2}}",
    "editorGutter.deletedBackground": "{{red2}}",
    "editorError.foreground": "{{red1}}",
    "editorWarning.foreground": "{{yellow1}}",
    "editorInfo.foreground": "{{blue1}}",
    // DIFF EDITOR
    "diffEditor.insertedTextBackground": "{{green2}}30",
    "diffEditor.removedTextBackground": "{{red2}}30",
    // WIDGET
    "editorWidget.background": "{{gray10}}",
    "editorWidget.border": "{{gray20}}",
    "editorSuggestWidget.background": "{{gray10}}",
    "editorSuggestWidget.foreground": "{{gray90}}",
    "editorSuggestWidget.highlightForeground": "{{aqua1}}",
    "editorSuggestWidget.selectedBackground": "{{gray20}}60",
    "editorSuggestWidget.border": "{{gray20}}",
    // PEEK VIEW
    "peekView.border": "{{gray20}}",
    "peekViewEditor.background": "{{gray20}}50",
    "peekViewEditorGutter.background": "{{gray20}}50",
    "peekViewEditor.matchHighlightBackground": "",
    "peekViewResult.background": "{{gray20}}50",
    "peekViewResult.fileForeground": "{{gray90}}",
    "peekViewResult.matchHighlightBackground": "{{aqua2}}30",
    "peekViewResult.selectionBackground": "{{aqua2}}30",
    "peekViewResult.selectionForeground": "{{aqua2}}30",
    "peekViewTitle.background": "{{gray20}}50",
    "peekViewTitleDescription.foreground": "{{gray70}}",
    "peekViewTitleLabel.foreground": "{{gray90}}",
    // MERGE CONFLICTS
    "merge.currentHeaderBackground": "{{blue1}}40",
    "merge.currentContentBackground": "{{blue1}}20",
    "merge.incomingHeaderBackground": "{{aqua1}}40",
    "merge.incomingContentBackground": "{{aqua1}}20",
    "merge.border": "{{gray10}}00",
    "editorOverviewRuler.currentContentForeground": "{{blue1}}",
    "editorOverviewRuler.incomingContentForeground": "{{aqua1}}",
    "editorOverviewRuler.commonContentForeground": "{{gray50}}",
    // PANELS
    "panel.border": "{{gray20}}",
    "panelTitle.activeForeground": "{{gray90}}",
    // STATUS BAR
    "statusBar.background": "{{gray10}}",
    "statusBar.border": "{{gray20}}",
    "statusBar.foreground": "{{gray90}}",
    "statusBar.debuggingBackground": "{{orange2}}",
    "statusBar.debuggingForeground": "{{gray10}}",
    "statusBar.debuggingBorder": "{{gray10}}00",
    "statusBar.noFolderBackground": "{{gray10}}",
    "statusBar.noFolderBorder": "{{gray10}}00",
    "statusBar.prominentBackground": "{{aqua1}}",
    "statusBar.prominentHoverBackground": "{{aqua1}}70",
    // INTEGRATED TERMINAL
    "terminal.ansiBlack": "{{gray20}}",
    "terminal.ansiBrightBlack": "{{gray50}}",
    "terminal.ansiRed": "{{red1}}",
    "terminal.ansiBrightRed": "{{red2}}",
    "terminal.ansiGreen": "{{green1}}",
    "terminal.ansiBrightGreen": "{{green2}}",
    "terminal.ansiYellow": "{{yellow1}}",
    "terminal.ansiBrightYellow": "{{yellow2}}",
    "terminal.ansiBlue": "{{blue1}}",
    "terminal.ansiBrightBlue": "{{blue2}}",
    "terminal.ansiMagenta": "{{purple1}}",
    "terminal.ansiBrightMagenta": "{{purple2}}",
    "terminal.ansiCyan": "{{aqua1}}",
    "terminal.ansiBrightCyan": "{{aqua2}}",
    "terminal.ansiWhite": "{{gray60}}",
    "terminal.ansiBrightWhite": "{{gray90}}",
    "terminal.foreground": "{{gray90}}",
    "terminal.background": "{{gray10}}",
    // TITLE BAR macOS (not tested)
    "titleBar.activeBackground": "{{gray10}}",
    "titleBar.activeForeground": "{{gray90}}",
    "titleBar.inactiveBackground": "{{gray10}}",
    // GIT COLORS
    "gitDecoration.modifiedResourceForeground": "{{yellow1}}",
    "gitDecoration.deletedResourceForeground": "{{red1}}",
    "gitDecoration.untrackedResourceForeground": "{{green1}}",
    "gitDecoration.ignoredResourceForeground": "{{gray40}}",
    "gitDecoration.conflictingResourceForeground": "{{purple1}}",
    // NOTIFICATION
    "notification.background": "{{gray10}}",
    "notification.foreground": "{{gray90}}",
    "notification.buttonBackground": "{{gray30}}",
    "notification.buttonHoverBackground": "{{gray30}}50",
    "notification.buttonForeground": "{{gray90}}",
    "notification.infoBackground": "{{blue2}}",
    "notification.infoForeground": "{{gray10}}",
    "notification.warningBackground": "{{yellow2}}",
    "notification.warningForeground": "{{gray10}}",
    "notification.errorBackground": "{{red2}}",
    "notification.errorForeground": "{{gray10}}",
    // EXTENSIONS
    "extensionButton.prominentBackground": "{{green2}}80",
    "extensionButton.prominentHoverBackground": "{{green2}}30",
    // OTHERS
    "textLink.foreground": "{{blue2}}",
    "textLink.activeForeground": "{{blue1}}",
    "debugToolBar.background": "{{gray10}}"
  }
}
