{
  "$schema": "vscode://schemas/color-theme",
  "name": "{{ name }}",
  "type": "{{ type }}",
  "colors": {
    /* Base colors
     https://code.visualstudio.com/api/references/theme-color#status-bar-colors
    */
    // focusBorder has a very wide scope
    "focusBorder":                            "{{ tint.10 }}",
    "foreground":                             "{{ tint.80 }}",
    "widget.shadow":                          "{{ shadow }}",
    // text selections for input fields or text areas, does not apply to selections within the editor and the terminal
    "selection.background":                   "{{ tint.40 }}",
    "descriptionForeground":                  "{{ tint.80 }}",
    "errorForeground":                        "{{ ui.danger.base }}",
    "icon.foreground":                        "{{ tint.80 }}",
    "sash.hoverBorder":                       "{{ tint.80 }}",
    "textLink.foreground":                    "{{ ui.accent1.base }}",
    "textLink.activeForeground":              "{{ ui.accent1.dim }}",
    "debugToolBar.background":                "{{ tint.10 }}",

    /* Button 
       https://code.visualstudio.com/api/references/theme-color#button-control
    */
    "button.background":                      "{{ tint.70 }}",
    "button.foreground":                      "{{ tint.20 }}",
    "button.hoverBackground":                 "{{ tint.60 }}",
    "button.secondaryBackground":             "{{ tint.30 }}",
    "button.secondaryForeground":             "{{ tint.80 }}",
    "button.secondaryHoverBackground":        "{{ tint.30 }}",
    "button.border":                          "{{ tint.10 }}{{ alpha.none }}",
    "checkbox.background":                    "{{ tint.20 }}",
    "checkbox.foreground":                    "{{ tint.80 }}",
    "checkbox.border":                        "{{ tint.50 }}",


    /* Dropdown
       https://code.visualstudio.com/api/references/theme-color#dropdown-control
    */
    "dropdown.background":                    "{{ tint.30 }}",
    "dropdown.border":                         null,
    "dropdown.foreground":                    "{{ tint.90 }}",
    "dropdown.listBackground":                 null,


    /* Input
       https://code.visualstudio.com/api/references/theme-color#input-control 
    */  
    "input.background":                       "{{ tint.20 }}",
    "input.border":                           "{{ tint.30 }}",
    "input.foreground":                       "{{ tint.80 }}",
    "input.placeholderForeground":            "{{ tint.80 }}{{ alpha.med }}",
    "inputOption.activeBackground":           "{{ tint.70 }}",
    "inputOption.hoverBackground":            "{{ tint.40 }}",  
    "inputOption.activeForeground":           "{{ tint.20 }}",
    // Border color of activated options in input fields.
    "inputOption.activeBorder":               "{{ tint.10 }}{{ alpha.none }}", //cannot be null
    "inputValidation.errorBackground":        "{{ tint.20 }}",
    "inputValidation.errorBorder":            "{{ ui.danger.base }}",
    "inputValidation.infoBackground":         "{{ tint.20 }}",
    "inputValidation.infoBorder":             "{{ tint.70 }}",
    "inputValidation.warningBackground":      "{{ tint.20 }}",
    "inputValidation.warningBorder":          "{{ ui.warning.base }}",

    /* Scrollbar
    */
    "scrollbar.shadow":                        "{{ shadow }}",
    "scrollbarSlider.background":              "{{ tint.30 }}{{ alpha.med }}",
    "scrollbarSlider.activeBackground":        "{{ tint.40 }}{{ alpha.med }}",
    "scrollbarSlider.hoverBackground":         "{{ tint.40 }}{{ alpha.med }}",


    /* Badge
    */
    "badge.background":                       "{{ tint.70 }}",
    "badge.foreground":                       "{{ tint.20 }}",

    /* Progress bar
    */
    "progressBar.background":                 "{{ ui.accent3.base }}",

    /* Title Bar
    */
    "titleBar.activeBackground":              "{{ tint.10 }}",
    "titleBar.activeForeground":              "{{ tint.60 }}",
    "titleBar.inactiveBackground":            "{{ tint.10 }}",
    "titleBar.inactiveForeground":            "{{ tint.60 }}",
    "titleBar.border" :                       "{{ tint.30 }}",

    /* Breadcrumbs
    */    
    "breadcrumb.foreground":                    "{{ tint.50 }}",
    "breadcrumb.background":                    "{{ tint.10 }}",
    "breadcrumb.focusForeground":               "{{ tint.80 }}",
    "breadcrumb.activeSelectionForeground":     "{{ tint.80 }}",
    "breadcrumbPicker.background":              "{{ tint.10 }}",

    
    /* Lists & Trees
       https://code.visualstudio.com/api/references/theme-color#lists-and-trees
    */
    "list.activeSelectionBackground":   "{{ tint.20 }}",
    "list.activeSelectionForeground":   "{{ tint.80 }}",
    "list.errorForeground":             "{{ ui.danger.base }}",
    "list.focusBackground":             "{{ tint.30 }}",
    "list.focusForeground":             "{{ tint.80 }}",
    "list.hoverBackground":             "{{ tint.20 }}",
    "list.inactiveSelectionBackground": "{{ tint.20 }}",
    "list.inactiveSelectionForeground": "{{ tint.80 }}",
    "list.warningForeground":           "{{ ui.warning.base }}",
    "list.deemphasizedForeground":      "{{ tint.50 }}",
    "list.dropBackground":              "{{ tint.40 }}{{ alpha.low }}",
    "list.filterMatchBackground":       "{{ tint.40 }}",
    "list.focusHighlightForeground":    "{{ ui.accent1.base }}",
    "list.focusOutline":                null,
    "list.highlightForeground":         "{{ ui.accent1.base }}",
    "list.invalidItemForeground":       "{{ ui.danger.dim }}",
    "list.hoverForeground":             "{{ tint.80 }}",
    //"list.activeSelectionIconForeground": null,
    //"list.filterMatchBorder": null,
    //"list.inactiveFocusBackground": null,
    //"list.inactiveFocusOutline": null,
    //"list.inactiveSelectionIconForeground": null,



    /* Quick input (Command palette, Quick picker)
    */
    "quickInput.background":              "{{ tint.10 }}",
    "quickInput.foreground":              "{{ tint.70 }}",
    "pickerGroup.foreground":             "{{ tint.70 }}",
    "pickerGroup.border":                 "{{ tint.30 }}",
    "quickInputTitle.background":         "{{ tint.10 }}",
    "quickInputList.focusBackground":     "{{ tint.30 }}",
    "quickInputList.focusForeground":     "{{ tint.80 }}",
    "quickInputList.focusIconForeground": "{{ tint.60 }}",
    
    



    /* Keybinding labels
       https://code.visualstudio.com/api/references/theme-color#keybinding-label-colors
    */
    "keybindingLabel.background":   "{{ tint.10 }}",
    "keybindingLabel.border":       "{{ tint.20 }}",
    "keybindingLabel.bottomBorder": "{{ tint.30 }}",
    "keybindingLabel.foreground":   "{{ tint.80 }}",

    /* Activity Bar 
    */
    "activityBar.background":         "{{ tint.10 }}",
    "activityBar.dropBorder":         "{{ tint.80 }}",
    "activityBar.foreground":         "{{ tint.80 }}",
    "activityBar.inactiveForeground": "{{ tint.40 }}", //icon colors
    "activityBar.border":             "{{ tint.30 }}",
    "activityBarBadge.background":    "{{ tint.70 }}",
    "activityBarBadge.foreground":    "{{ tint.20 }}",
    "activityBar.activeBorder":       "{{ tint.80 }}",
    "activityBar.activeBackground":   "{{ tint.30 }}",
    "activityBar.activeFocusBorder":  null,
    "profileBadge.background" :       "{{ tint.30 }}",
    "profileBadge.foreground":        "{{ tint.80 }}",


    /* Sidebar
       https://code.visualstudio.com/api/references/theme-color#side-bar
    */
    "sideBar.background":              "{{ tint.10 }}",
    "sideBarSectionHeader.background": "{{ tint.20 }}",
    "sideBar.border":                  "{{ tint.30 }}",
    "sideBar.dropBackground":          "{{ tint.50 }}{{ alpha.low }}",
    "sideBar.foreground":              "{{ tint.70 }}",
    "sideBarSectionHeader.foreground": "{{ tint.70 }}",
    "sideBarTitle.foreground":         "{{ tint.70 }}",
    "sideBarSectionHeader.border":     null,

    /* Git colors
       e.g. colors of changed files in sidebar or tabs
       TBD try muted colors
    */

    "gitDecoration.conflictingResourceForeground": "{{ ui.accent2.dim }}",
    "gitDecoration.deletedResourceForeground":     "{{ ui.danger.dim }}",
    "gitDecoration.ignoredResourceForeground":     "{{ tint.40 }}",
    "gitDecoration.modifiedResourceForeground":    "{{ ui.warning.dim }}",
    "gitDecoration.untrackedResourceForeground":   "{{ ui.success.dim }}",


    /* Minimap & Overview ruler
       https://code.visualstudio.com/api/references/theme-color#minimap
    */
    "minimap.errorHighlight":               "{{ ui.danger.dim }}",
    "minimap.findMatchHighlight":           "{{ ui.warning.dim }}",
    // "minimap.foregroundOpacity":            "#000000c0",
    "minimap.selectionHighlight":           "{{ tint.40 }}",
    "minimap.selectionOccurrenceHighlight": "{{ tint.40 }}",
    "minimap.warningHighlight":             "{{ ui.warning.dim }}",
    "minimapGutter.addedBackground":        "{{ ui.success.dim }}",
    "minimapGutter.deletedBackground":      "{{ ui.danger.dim }}",
    "minimapGutter.modifiedBackground":     "{{ ui.warning.dim }}",
    "minimapSlider.background":             "{{ tint.50 }}{{ alpha.med }}",
    "minimapSlider.activeBackground":       "{{ tint.60 }}{{ alpha.med }}",
    "minimapSlider.hoverBackground":        "{{ tint.60 }}{{ alpha.med }}",

    "editorOverviewRuler.border":                        "{{ tint.10 }}",
    "editorOverviewRuler.addedForeground":               "{{ ui.success.dim }}{{ alpha.med }}",
    "editorOverviewRuler.bracketMatchForeground":        "{{ tint.50 }}",
    "editorOverviewRuler.deletedForeground":             "{{ ui.danger.dim }}{{ alpha.med }}",
    "editorOverviewRuler.errorForeground":               "{{ ui.danger.dim }}",
    "editorOverviewRuler.findMatchForeground":           "{{ ui.warning.dim }}",
    "editorOverviewRuler.infoForeground":                "{{ ui.info.dim }}",
    "editorOverviewRuler.modifiedForeground":            "{{ ui.warning.dim }}",
    "editorOverviewRuler.rangeHighlightForeground":      "{{ ui.accent1.dim }}",
    "editorOverviewRuler.selectionHighlightForeground":  "{{ tint.50 }}",
    "editorOverviewRuler.warningForeground":             "{{ ui.warning.dim }}",
    "editorOverviewRuler.wordHighlightForeground":       "{{ tint.50 }}",
    "editorOverviewRuler.wordHighlightStrongForeground": "{{ tint.50 }}",
    //editorOverviewRuler for merge conflicts is located with merge conflicts
  
    

    /* Status bar
       https://code.visualstudio.com/api/references/theme-color#status-bar-colors
    */
    "statusBar.background":                   "{{ tint.10 }}",
    "statusBar.foreground":                   "{{ tint.60 }}",
    "statusBar.border":                       "{{ tint.30 }}",
    "statusBar.debuggingBackground":          "{{ ui.accent2.dim }}",
    "statusBar.debuggingForeground":          "{{ tint.10 }}",
    "statusBar.debuggingBorder":              "{{ tint.10 }}",
    "statusBar.noFolderBackground":           "{{ tint.10 }}",
    "statusBar.noFolderBorder":               "{{ tint.10 }}",
    "statusBarItem.activeBackground":         "{{ tint.20 }}",
    "statusBarItem.hoverBackground":          "{{ tint.30 }}",
    "statusBarItem.prominentForeground":      "{{ tint.10 }}",
    "statusBarItem.prominentBackground":      "{{ ui.accent2.dim }}",
    "statusBarItem.prominentHoverBackground": "{{ ui.accent2.mid }}",
    "statusBarItem.remoteBackground":         "{{ tint.20 }}",
    "statusBarItem.remoteForeground":         "{{ tint.60 }}",
    "statusBarItem.errorBackground":          "{{ ui.error.mid }}",
    "statusBarItem.errorForeground":          "{{ tint.10 }}",
    "statusBarItem.warningBackground":        "{{ ui.warning.mid }}",
    "statusBarItem.warningForeground":        "{{ tint.10 }}",
    "statusBarItem.compactHoverBackground":   "{{ tint.30 }}",
    "statusBarItem.focusBorder":              "{{ tint.30 }}",
    "statusBar.focusBorder":                  "{{ tint.10 }}",




    /* Editor Groups & Tabs
       https://code.visualstudio.com/api/references/theme-color#editor-groups-tabs
    */
    "editorGroup.emptyBackground":        "{{ tint.10 }}",
    "editorGroupHeader.noTabsBackground": "{{ tint.10 }}",
    "editorGroupHeader.tabsBackground":   "{{ tint.10 }}",
    "editorGroup.dropBackground":         "{{ tint.40 }}{{ alpha.med }}",
    "editorGroup.border":                 "{{ tint.30 }}",
    "editorGroupHeader.tabsBorder":       "{{ tint.30 }}",
    "editorGroup.focusedEmptyBorder":     "{{ tint.40 }}",

    "tab.activeBackground":               "{{ tint.20 }}",
    "tab.activeForeground":               "{{ tint.80 }}",
    "tab.inactiveForeground":             "{{ tint.60 }}",
    "tab.inactiveBackground":             "{{ tint.10 }}",
    "tab.border":                         "{{ tint.10 }}",
    "tab.activeBorder":                   "{{ tint.60 }}",
    "tab.activeBorderTop":                null,
    "tab.hoverBorder":                    "{{ tint.30 }}",
    "tab.unfocusedActiveForeground":      "{{ tint.60 }}",
    "tab.unfocusedActiveBorder":          "{{ tint.40 }}",
    "tab.unfocusedInactiveForeground":    "{{ tint.50 }}",


    /* Panels
       e.g. Output, Debug Console, Terminal 
    */
    
    "panel.background":              "{{ tint.10 }}",
    "panel.border":                  "{{ tint.30 }}",
    "panel.dropBorder":              "{{ tint.40 }}",
    "panelTitle.activeBorder":       "{{ tint.60 }}",
    "panelTitle.activeForeground":   "{{ tint.80 }}",
    "panelTitle.inactiveForeground": "{{ tint.60 }}",
    "panelInput.border":             "{{ tint.40 }}",
    "panelSection.border":           "{{ tint.30 }}",
    "panelSection.dropBackground":   "{{ tint.40 }}{{ alpha.med }}",
    "panelSectionHeader.background": "{{ tint.10 }}",
    "panelSectionHeader.foreground": "{{ tint.80 }}",
    "panelSectionHeader.border":     "{{ tint.30 }}",


    /* Editor


       Sidenotes
       editorInfo.foreground is also used as icon color in "Do you trust..." dialog
       editorWarning.foreground is used for warning squiggles. Also used as warning color by Github Co-pilot VS Code plugin.
       
    */
    "editor.background":              "{{ tint.10 }}",
    "editor.foreground":              "{{ tint.80 }}",
    "editorLineNumber.foreground":    "{{ tint.40 }}",
    "editorLink.activeForeground":    "{{ tint.80 }}",
    "editor.lineHighlightBackground": "{{ tint.20 }}",
    "editor.lineHighlightBorder":     null,
    "editor.selectionBackground":     "{{ tint.30 }}",
    // selectionForeground does not seem to work
    // "editor.selectionForeground":             "{{ tint.70 }}",
    "editor.inactiveSelectionBackground":     "{{ tint.20 }}",
    // same content as selection
    "editor.selectionHighlightBackground":    "{{ tint.10 }}{{ alpha.none }}",
    "editor.selectionHighlightBorder":        "{{ ui.accent1.base }}",
    // current match
    "editor.findMatchBackground":             "{{ tint.10 }}{{ alpha.none }}",
    "editor.findMatchBorder":                 "{{ ui.accent3.base }}",
    // other matches
    "editor.findMatchHighlightBackground":    "{{ tint.10 }}{{ alpha.none }}",
    "editor.findMatchHighlightBorder":        "{{ ui.accent2.base }}",
    // selection range when "Find in Selection" is applied
    "editor.findRangeHighlightBackground":    "{{ tint.40 }}{{ alpha.low }}", 
    "editor.findRangeHighlightBorder":        null,
    //background selection on hover
    "editor.hoverHighlightBackground":        "{{ tint.30 }}",
    // highlighting variables 
    "editor.wordHighlightStrongBackground":   "{{ tint.10 }}{{ alpha.none }}",
    "editor.wordHighlightStrongBorder":       "{{ ui.accent1.base }}",
    "editor.wordHighlightBackground":         "{{ tint.10 }}{{ alpha.none }}",
    "editor.wordHighlightBorder":             "{{ ui.accent2.base }}",
    "editor.wordHighlightTextBackground":     null,
    "editor.wordHighlightTextBorder":         null,
    
    "editorUnicodeHighlight.border":          "{{ tint.30 }}",
    "editorUnicodeHighlight.background":      "{{ tint.10 }}",

    "editorWhitespace.foreground":        "{{ tint.40 }}",
    "editorCursor.foreground":            "{{ tint.80 }}",
    "editorError.foreground":             "{{ ui.danger.dim }}",
    "editorWarning.foreground":           "{{ ui.warning.dim }}",
    "editorHint.foreground":              "{{ ui.success.dim }}",
    "editorInfo.foreground":              "{{ ui.info.dim }}",
    "editorGutter.addedBackground":       "{{ ui.success.base }}",
    "editorGutter.deletedBackground":     "{{ ui.danger.base }}",
    "editorGutter.modifiedBackground":    "{{ ui.warning.base }}",
    "editorIndentGuide.background":       "{{ tint.20 }}",
    "editorIndentGuide.activeBackground": "{{ tint.30 }}",
    "editorRuler.foreground":             "{{ tint.40 }}",
    "editorCodeLens.foreground":          "{{ tint.60 }}{{ alpha.med }}",
    "editorHoverWidget.background":       "{{ tint.10 }}",
    "editorHoverWidget.border":           "{{ tint.30 }}",

    "editorStickyScroll.background":      "{{ tint.10 }}",
    "editorStickyScrollHover.background": "{{ tint.30 }}",
    

    
    /* Bracket matching and bracket pair colorization

    Bracket pair colorization introduced in VS Code v1.67:
    https://code.visualstudio.com/updates/v1_67#_editor   
    */
    
    "editorBracketMatch.background":          "{{ tint.10 }}",
    "editorBracketMatch.border":              "{{ tint.40 }}",
    
 
    "editorBracketHighlight.foreground1":     "{{ tint.40 }}",
    "editorBracketHighlight.foreground2":     "{{ syntax.01.base }}",
    "editorBracketHighlight.foreground3":     "{{ syntax.02.base }}",
    "editorBracketHighlight.foreground4":     "{{ syntax.03.base }}",
    "editorBracketHighlight.foreground5":     "{{ syntax.04.base }}",
    "editorBracketHighlight.foreground6":     "{{ syntax.06.base }}",
    "editorBracketHighlight.unexpectedBracket.foreground": "{{ ui.danger.dim }}",
    "editorBracketPairGuide.activeBackground1": null,
    "editorBracketPairGuide.activeBackground2": null,
    "editorBracketPairGuide.activeBackground3": null,
    "editorBracketPairGuide.activeBackground4": null,
    "editorBracketPairGuide.activeBackground5": null,
    "editorBracketPairGuide.activeBackground6": null,
    "editorBracketPairGuide.background1":     null,
    "editorBracketPairGuide.background2":     null,
    "editorBracketPairGuide.background3":     null,
    "editorBracketPairGuide.background4":     null,
    "editorBracketPairGuide.background5":     null,
    "editorBracketPairGuide.background6":     null,



    /* Diff Editor
       https://code.visualstudio.com/api/references/theme-color#diff-editor-colors
    */
    "diffEditor.diagonalFill":                 "{{ tint.30 }}",
    "diffEditor.insertedTextBackground":       "{{ ui.success.dim }}{{ alpha.medLow }}",
    "diffEditor.removedTextBackground":        "{{ ui.danger.dim }}{{ alpha.medLow }}",
    "diffEditor.insertedTextBorder":           null,             //it impacts line as well
    "diffEditor.removedTextBorder":            null,
    "diffEditor.border":                       null,             //border between diffs
    "diffEditor.insertedLineBackground":       "{{ ui.success.dim }}{{ alpha.medLow }}",
    "diffEditor.removedLineBackground":        "{{ ui.danger.dim }}{{ alpha.medLow }}",
    "diffEditorGutter.insertedLineBackground": "{{ ui.success.dim }}{{ alpha.low }}",
    "diffEditorGutter.removedLineBackground":  "{{ ui.danger.dim }}{{ alpha.low }}",
    "diffEditorOverview.insertedForeground":   "{{ ui.success.dim }}{{ alpha.medLow }}",
    "diffEditorOverview.removedForeground":    "{{ ui.danger.dim }}{{ alpha.medLow }}",
    
    
    /* Merge conflicts, Merge editor
     */
    "merge.border":                                        null,
    "merge.currentHeaderBackground":                       "{{ ui.accent2.dim }}{{ alpha.medLow }}",
    "merge.currentContentBackground":                      "{{ ui.accent2.dim }}{{ alpha.low }}",
    "merge.incomingHeaderBackground":                      "{{ ui.accent3.dim }}{{ alpha.medLow }}",
    "merge.incomingContentBackground":                     "{{ ui.accent3.dim }}{{ alpha.low }}",
    "merge.commonContentBackground":                       null,
    "merge.commonHeaderBackground":                        null,
    "editorOverviewRuler.currentContentForeground":        "{{ ui.accent2.dim }}{{ alpha.medLow }}",
    "editorOverviewRuler.incomingContentForeground":       "{{ ui.accent3.dim }}{{ alpha.medLow }}",
    "editorOverviewRuler.commonContentForeground":         null,
    "mergeEditor.change.background":                       "{{ tint.10 }}",
    "mergeEditor.change.word.background":                  "{{ tint.20 }}",
    "mergeEditor.conflict.unhandledUnfocused.border":      "{{ ui.danger.base }}",
    "mergeEditor.conflict.unhandledFocused.border":        "{{ ui.danger.base }}",
    "mergeEditor.conflict.handledUnfocused.border":        "{{ ui.success.base }}",
    "mergeEditor.conflict.handledFocused.border":          "{{ ui.success.base }}",
    "mergeEditor.conflict.unhandled.minimapOverViewRuler": "{{ ui.danger.base }}",
    "mergeEditor.conflict.handled.minimapOverViewRuler":   "{{ ui.success.base }}",
    "mergeEditor.conflictingLines.background":             "{{ tint.10 }}",
    "mergeEditor.changeBase.background":                   "{{ tint.10 }}{{ alpha.none }}",    // not tested
    "mergeEditor.changeBase.word.background":              "{{ tint.10 }}{{ alpha.none }}",    // not tested
    "mergeEditor.conflict.input1.background":              "{{ tint.10 }}{{ alpha.none }}",    // not tested
    "mergeEditor.conflict.input2.background":              "{{ tint.10 }}{{ alpha.none }}",    // not tested





   



    /* Widget
    */
    "editorWidget.background":                 "{{ tint.10 }}",
    "editorWidget.border":                     "{{ tint.30 }}",
    "editorSuggestWidget.background":          "{{ tint.10 }}",
    "editorSuggestWidget.foreground":          "{{ tint.80 }}",
    "editorSuggestWidget.highlightForeground": "{{ ui.accent1.dim }}",
    "editorSuggestWidget.selectedBackground":  "{{ tint.30 }}",
    "editorSuggestWidget.border":              "{{ tint.30 }}",

    /* Peek view

       e.g. error within the Editor, openining definition of f() (F12)
    */
    "peekView.border":                         "{{ tint.30 }}",
    "peekViewEditor.background":               "{{ tint.10 }}",
    "peekViewEditorGutter.background":         "{{ tint.10 }}",
    "peekViewEditor.matchHighlightBackground": "{{ tint.30 }}",
    "peekViewEditor.matchHighlightBorder":     null,
    "peekViewResult.background":               "{{ tint.20 }}",
    "peekViewResult.fileForeground":           "{{ tint.20 }}",
    "peekViewResult.lineForeground":           "{{ tint.70 }}",
    "peekViewResult.matchHighlightBackground": "{{ tint.30 }}",
    "peekViewResult.selectionBackground":      "{{ tint.30 }}",
    "peekViewResult.selectionForeground":      "{{ tint.80 }}",
    "peekViewTitle.background":                "{{ tint.10 }}",
    "peekViewTitleDescription.foreground":     "{{ tint.60 }}",
    "peekViewTitleLabel.foreground":           "{{ tint.80 }}",



    /* Debugging Interfaces 

       https://code.visualstudio.com/api/references/theme-color#debug-colors
    */
   
    "debugExceptionWidget.background":             "{{ ui.danger.dim }}{{ alpha.medLow }}",
    "debugExceptionWidget.border":                 "{{ ui.danger.dim }}",
    "debugToolBar.background":                     "{{ tint.10 }}",
    "debugToolBar.border":                         "{{ tint.30 }}",
    "editor.stackFrameHighlightBackground":        "{{ tint.40 }}{{ alpha.med }}",
    "editor.focusedStackFrameHighlightBackground": "{{ tint.50 }}{{ alpha.med }}",
    "editor.inlineValuesForeground":               "{{ tint.60 }}",
    "editor.inlineValuesBackground":               "{{ tint.10 }}{{ alpha.none }}",
    "debugView.exceptionLabelForeground":          "{{ tint.100 }}",
    "debugView.exceptionLabelBackground":          "{{ ui.danger.dim }}",
    "debugView.stateLabelForeground":              "{{ tint.80 }}",
    "debugView.stateLabelBackground":              "{{ tint.20 }}",
    "debugView.valueChangedHighlight":             "{{ ui.accent2.dim }}{{ alpha.med }}",
    "debugTokenExpression.name":                   "{{ syntax.05.base }}",
    "debugTokenExpression.value":                  "{{ syntax.04.base }}",
    "debugTokenExpression.string":                 "{{ syntax.06.base }}",
    "debugTokenExpression.boolean":                "{{ syntax.07.base }}",
    "debugTokenExpression.number":                 "{{ syntax.03.base }}",
    "debugTokenExpression.error":                  "{{ syntax.01.base }}",


    
    /* Debug Icons colors

       https://code.visualstudio.com/api/references/theme-color#debug-icons-colors
    */
    "debugIcon.breakpointForeground":                  "{{ ui.danger.base }}",
    "debugIcon.breakpointDisabledForeground":          "{{ tint.40 }}",
    "debugIcon.breakpointUnverifiedForeground":        "{{ tint.50 }}",
    "debugIcon.breakpointCurrentStackframeForeground": "{{ ui.warning.base }}",
    "debugIcon.breakpointStackframeForeground":        "{{ tint.50 }}",
    "debugIcon.startForeground":                       "{{ ui.success.base }}",
    "debugIcon.pauseForeground":                       "{{ ui.accent2.base }}",
    "debugIcon.stopForeground":                        "{{ ui.danger.base }}",
    "debugIcon.disconnectForeground":                  "{{ ui.accent2.base }}",
    "debugIcon.restartForeground":                     "{{ ui.success.base }}",
    "debugIcon.continueForeground":                    "{{ ui.accent2.base }}",
    "debugIcon.stepOverForeground":                    "{{ ui.accent2.base }}",
    "debugIcon.stepIntoForeground":                    "{{ ui.accent2.base }}",
    "debugIcon.stepOutForeground":                     "{{ ui.accent2.base }}",
    "debugIcon.stepBackForeground":                    "{{ ui.accent2.base }}",
    "debugConsole.infoForeground":                     "{{ ui.accent1.base }}",
    "debugConsole.warningForeground":                  "{{ ui.warning.base }}",
    "debugConsole.errorForeground":                    "{{ ui.danger.base }}",
    "debugConsole.sourceForeground":                   "{{ ui.accent2.base }}",
    "debugConsoleInputIcon.foreground":                "{{ tint.50 }}",




    /* Symbol Icons Colors

       The theme colors for symbol icons that appears in the Outline view, breadcrumb navigation, and suggest widget
       https://code.visualstudio.com/api/references/theme-color#symbol-icons-colors
    */
    "symbolIcon.arrayForeground":            "{{ tint.40 }}",
    "symbolIcon.booleanForeground":          "{{ tint.40 }}",
    "symbolIcon.classForeground":            "{{ tint.40 }}",
    "symbolIcon.colorForeground":            "{{ tint.40 }}",
    "symbolIcon.constantForeground":         "{{ tint.40 }}",
    "symbolIcon.constructorForeground":      "{{ tint.40 }}",
    "symbolIcon.enumeratorForeground":       "{{ tint.40 }}",
    "symbolIcon.enumeratorMemberForeground": "{{ tint.40 }}",
    "symbolIcon.eventForeground":            "{{ tint.40 }}",
    "symbolIcon.fieldForeground":            "{{ tint.40 }}",
    "symbolIcon.fileForeground":             "{{ tint.40 }}",
    "symbolIcon.folderForeground":           "{{ tint.40 }}",
    "symbolIcon.functionForeground":         "{{ tint.40 }}",
    "symbolIcon.interfaceForeground":        "{{ tint.40 }}",
    "symbolIcon.keyForeground":              "{{ tint.40 }}",
    "symbolIcon.keywordForeground":          "{{ tint.40 }}",
    "symbolIcon.methodForeground":           "{{ tint.40 }}",
    "symbolIcon.moduleForeground":           "{{ tint.40 }}",
    "symbolIcon.namespaceForeground":        "{{ tint.40 }}",
    "symbolIcon.nullForeground":             "{{ tint.40 }}",
    "symbolIcon.numberForeground":           "{{ tint.40 }}",
    "symbolIcon.objectForeground":           "{{ tint.40 }}",
    "symbolIcon.operatorForeground":         "{{ tint.40 }}",
    "symbolIcon.packageForeground":          "{{ tint.40 }}",
    "symbolIcon.propertyForeground":         "{{ tint.40 }}",
    "symbolIcon.referenceForeground":        "{{ tint.40 }}",
    "symbolIcon.snippetForeground":          "{{ tint.40 }}",
    "symbolIcon.stringForeground":           "{{ tint.40 }}",
    "symbolIcon.structForeground":           "{{ tint.40 }}",
    "symbolIcon.textForeground":             "{{ tint.40 }}",
    "symbolIcon.typeParameterForeground":    "{{ tint.40 }}",
    "symbolIcon.unitForeground":             "{{ tint.40 }}",
    "symbolIcon.variableForeground":         "{{ tint.40 }}",


    /* Integrated terminal
    */ 
    "terminal.ansiBlack":                    "{{ tint.20 }}",
    "terminal.ansiBrightBlack":              "{{ tint.50 }}",
    "terminal.ansiRed":                      "{{ syntax.01.dim }}",
    "terminal.ansiBrightRed":                "{{ syntax.01.base }}",
    "terminal.ansiGreen":                    "{{ syntax.04.dim }}",
    "terminal.ansiBrightGreen":              "{{ syntax.04.base }}",
    "terminal.ansiYellow":                   "{{ syntax.03.dim }}",
    "terminal.ansiBrightYellow":             "{{ syntax.03.base }}",
    "terminal.ansiBlue":                     "{{ syntax.06.dim }}",
    "terminal.ansiBrightBlue":               "{{ syntax.06.base }}",
    "terminal.ansiMagenta":                  "{{ syntax.07.dim }}",
    "terminal.ansiBrightMagenta":            "{{ syntax.07.base }}",
    "terminal.ansiCyan":                     "{{ syntax.05.dim }}",
    "terminal.ansiBrightCyan":               "{{ syntax.05.base }}",
    "terminal.ansiWhite":                    "{{ tint.60 }}",
    "terminal.ansiBrightWhite":              "{{ tint.80 }}",
    "terminal.foreground":                   "{{ tint.80 }}",
    "terminal.background":                   "{{ tint.10 }}",
    "terminal.border":                       "{{ tint.30 }}",
    "terminal.dropBackground":               "{{ tint.40 }}{{ alpha.med }}",
    "terminal.selectionBackground":          "{{ tint.40 }}",
    "terminal.tab.activeBorder":             "{{ tint.80 }}",
    "terminalCursor.background":             "{{ tint.20 }}",
    "terminalCursor.foreground":             "{{ tint.80 }}",
    "terminalCommandDecoration.defaultBackground": "{{ tint.20 }}",
    "terminalCommandDecoration.successBackground": "{{ ui.success.dim }}",
    "terminalCommandDecoration.errorBackground":   "{{ ui.danger.dim }}",
    "terminal.findMatchBackground":                "{{ ui.accent2.base }}{{ alpha.medLow }}",
    "terminal.findMatchHighlightBackground":       "{{ tint.40 }}{{ alpha.med }}",




    /* Notification
       https://code.visualstudio.com/api/references/theme-color#notification-colors
    */
    "notificationCenter.border":             "{{ tint.30 }}",
    "notificationCenterHeader.foreground":   "{{ tint.80 }}",
    "notificationCenterHeader.background":   "{{ tint.10 }}",
    "notificationToast.border":              "{{ tint.30 }}",
    "notifications.foreground":              "{{ tint.80 }}",
    "notifications.background":              "{{ tint.10 }}",
    "notifications.border":                  "{{ tint.30 }}",
    "notificationLink.foreground":           "{{ ui.accent1.base }}",
    "notificationsErrorIcon.foreground":     "{{ ui.danger.base }}",
    "notificationsWarningIcon.foreground":   "{{ ui.warning.base }}",
    "notificationsInfoIcon.foreground":      "{{ ui.info.base }}",

    /* Extensions
    */
    "extensionButton.prominentForeground":      "{{ tint.20 }}",
    "extensionButton.prominentBackground":      "{{ tint.70 }}",
    "extensionButton.prominentHoverBackground": "{{ tint.60 }}",
    "extensionBadge.remoteBackground":          "{{ tint.70 }}",
    "extensionBadge.remoteForeground":          "{{ tint.20 }}",
    "extensionIcon.starForeground":             "{{ tint.40 }}",
    "extensionIcon.verifiedForeground":         "{{ tint.20 }}",
    "extensionIcon.preReleaseForeground":       "{{ tint.20 }}",

    /* Menu
    */
    "menubar.selectionForeground":           "{{ tint.90 }}",
    "menubar.selectionBackground":           "{{ tint.40 }}",
    "menubar.selectionBorder":                null,
    "menu.foreground":                       "{{ tint.80 }}",
    "menu.background":                       "{{ tint.20 }}",
    "menu.selectionForeground":              "{{ tint.90 }}",
    "menu.selectionBackground":              "{{ tint.40 }}",
    "menu.selectionBorder":                   null,
    "menu.separatorBackground":              "{{ tint.30 }}",
    "menu.border":                           "{{ tint.30 }}",

    /* Lightbulb
    */

    "editorLightBulb.foreground":            "{{ ui.warning.base }}",
    "editorLightBulbAutoFix.foreground":     "{{ ui.warning.base }}",

  },
  "tokenColors": [
    {
      "settings": {
        "foreground": "{{ tint.80 }}"
      }
    },
    {
      "scope": "emphasis",
      "settings": {
        "fontStyle": "italic"
      }
    },
    {
      "scope": "strong",
      "settings": {
        "fontStyle": "bold"
      }
    },
    {
      "scope": "header",
      "settings": {
        "foreground": "{{ syntax.06.dim }}"
      }
    },
    {
      "scope": [
        "comment",
        "punctuation.definition.comment",
        "string.comment.buffered.block.pug",
        "string.quoted.docstring.multi.python"
      ],
      "settings": {
        "foreground": "{{ tint.40 }}",
        "fontStyle": "italic"
      }
    },
    {
      "scope": [
        "constant",
        "support.constant",
        "variable.arguments"
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    {
      "scope": "constant.rgb-value",
      "settings": {
        "foreground": "{{ tint.80 }}"
      }
    },
    {
      "scope": "entity.name.selector",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "entity.other.attribute-name",
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "scope": [
        "entity.name.tag",
        "punctuation.tag"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": [
        "invalid",
        "invalid.illegal"
      ],
      "settings": {
        "foreground": "{{ syntax.01.dim }}"
      }
    },
    {
      "scope": "invalid.deprecated",
      "settings": {
        "foreground": "{{ syntax.07.dim }}"
      }
    },
    {
      "scope": "meta.selector",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "meta.preprocessor",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "meta.preprocessor.string",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": "meta.preprocessor.numeric",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": "meta.header.diff",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "storage",
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": "storage.modifier",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "string",
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    {
      "scope": "string.tag",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": "string.value",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": "string.regexp",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "string.escape",
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": "string.quasi",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "string.entity",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": "object",
      "settings": {
        "foreground": "{{ tint.80 }}"
      }
    },
    {
      "scope": "module.node",
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "scope": "support.type.property-name",
      "settings": {
        "foreground": "{{ syntax.05.dim }}"
      }
    },
    {
      "scope": "keyword",
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": "keyword.control",
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": "keyword.control.module",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "keyword.control.less",
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": "keyword.operator",
      "settings": {
        "foreground": "{{ tint.60 }}"
      }
    },
    {
      "scope": "keyword.operator.new",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    // keyword.other.unit impacts CSS/SCSS, anything else?
    // if yes, I can target it as "source.css keyword.other..."
    {
      "scope": "keyword.other.unit",
      "settings": {
        "foreground": "{{ syntax.07.dim }}"
      }
    },
    {
      "scope": "metatag.php",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "support.function.git-rebase",
      "settings": {
        "foreground": "{{ syntax.05.dim }}"
      }
    },
    {
      "scope": "constant.sha.git-rebase",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "name": "Types declaration and references",
      "scope": [
        "meta.type.name",
        "meta.return.type",
        "meta.return-type",
        "meta.cast",
        "meta.type.annotation",
        "support.type",
        "storage.type.cs",
        "variable.class"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": [
        "variable.this",
        "support.variable"
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    {
      "scope": [
        "entity.name",
        "entity.static",
        "entity.name.class.static.function",
        "entity.name.function",
        "entity.name.class",
        "entity.name.type"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "name": "Function declarations",
      "scope": [
        "storage.type.function",
        "entity.function",
        "entity.name.function.static"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "entity.name.function.function-call",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "support.function.builtin",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": [
        "entity.name.method",
        "entity.name.method.function-call",
        "entity.name.static.function-call"
      ],
      "settings": {
        "foreground": "{{ syntax.05.dim }}"
      }
    },
    {
      "scope": "brace",
      "settings": {
        "foreground": "{{ tint.80 }}"
      }
    },
    {
      "name": "variables",
      "scope": [
        "meta.parameter.type.variable",
        "variable.parameter",
        "variable.name",
        "variable.other",
        "variable",
        "string.constant.other.placeholder"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "prototype",
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    {
      "scope": "storage.type.class",
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": [
        "punctuation",
        "attribute_value",
        "meta.tag.other"
      ],
      "settings": {
        "foreground": "{{ tint.40 }}"
      }
    },
    {
      "scope": "punctuation.quoted",
      "settings": {
        "foreground": "{{ tint.80 }}"
      }
    },
    {
      "scope": "punctuation.quasi",
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "name": "URL",
      "scope": [
        "*url*",
        "*link*",
        "*uri*"
      ],
      "settings": {
        "fontStyle": "underline"
      }
    },
    // ----------------------------------------
    //            LANGUAGE SPECIFIC
    // ----------------------------------------
    // PYTHON ----------------------------------------
    {
      "name": "Python function",
      "scope": [
        "meta.function.python",
        "entity.name.function.python"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "name": "Python Function and Class definition keywords",
      "scope": [
        "storage.type.function.python",
        "storage.modifier.declaration",
        "storage.type.class.python"
      ],
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "name": "Python Function Call",
      "scope": "meta.function-call.generic",
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "name": "Python Function Arguments",
      "scope": "meta.function-call.arguments",
      "settings": {
        "foreground": "{{ tint.80 }}"
      }
    },
    {
      "name": "Python Function decorator",
      "scope": "entity.name.function.decorator",
      "settings": {
        "foreground": "{{ syntax.03.base }}",
        "fontStyle": "bold"
      }
    },
    {
      "name": "Python Support Tyype",
      "scope": "support.type.exception.python",
      "settings": {
        "foreground": "{{ syntax.02.base }}",
      }
    },
    {
      "name": "Python ALL CAPS",
      "scope": "constant.other.caps",
      "settings": {
        "fontStyle": "bold"
      }
    },
    // SHELL ----------------------------------------
    {
      "scope": "keyword.operator.logical",
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": "punctuation.definition.logical-expression",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "string.inperpolated.dollar.shell",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": [
        "string.interpolated.dollar.shell",
        "string.interpolated.backtick.shell"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    // C C++ ----------------------------------------
    {
      "scope": "keyword.control.directive",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "support.function.C99",
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    // C# ----------------------------------------
    {
      "name": "C# functions & namespace",
      "scope": [
        "meta.function.cs",
        "entity.name.function.cs",
        "entity.name.type.namespace.cs"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "name": "C# Variables",
      "scope": [
        "keyword.other.using.cs",
        "entity.name.variable.field.cs",
        "entity.name.variable.local.cs",
        "variable.other.readwrite.cs"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "name": "C# This",
      "scope": [
        "keyword.other.this.cs",
        "keyword.other.base.cs"
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    // MAKEFILE ----------------------------------------
    {
      "scope": "meta.scope.prerequisites",
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": "entity.name.function.target",
      "settings": {
        "foreground": "{{ syntax.04.base }}",
        "fontStyle": "bold"
      }
    },
    // JAVA ----------------------------------------
    {
      "name": "coloring of the Java import and package identifiers",
      "scope": [
        "storage.modifier.import.java",
        "storage.modifier.package.java"
      ],
      "settings": {
        "foreground": "{{ tint.70 }}"
      }
    },
    {
      "scope": [
        "keyword.other.import.java",
        "keyword.other.package.java"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "storage.type.java",
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": "storage.type.annotation",
      "settings": {
        "foreground": "{{ syntax.06.base }}",
        "fontStyle": "bold"
      }
    },
    {
      "scope": "keyword.other.documentation.javadoc",
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": "comment.block.javadoc variable.parameter.java",
      "settings": {
        "foreground": "{{ syntax.04.base }}",
        "fontStyle": "bold"
      }
    },
    {
      "scope": [
        "source.java variable.other.object",
        "source.java variable.other.definition.java"
      ],
      "settings": {
        "foreground": "{{ tint.80 }}"
      }
    },
    // LISP ----------------------------------------
    {
      "name": "Lisp optional function parameters",
      "scope": "meta.function-parameters.lisp",
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    // MARKUP (MARKDOWN) --------------------------------
    {
      "scope": "markup.underline",
      "settings": {
        "fontStyle": "underline"
      }
    },
    {
      "scope": "string.other.link.title.markdown",
      "settings": {
        "foreground": "{{ tint.80 }}",
        "fontStyle": null
      }
    },
    {
      "scope": [
        "markup.underline.link",
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    {
      "scope": [
        "markup.heading.markdown",
        "entity.name.section.markdown"
      ],
      "settings": {
        "fontStyle": null,
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": [
        "support.function.text.markdown.notes.wiki-link.title",
        "string.other.link"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": "markup.bold",
      "settings": {
        "fontStyle": null,
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": "markup.italic",
      "settings": {
        "fontStyle": "italic",
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": "markup.inserted",
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": ["markup.deleted"],
      "settings": {
        "foreground": "{{ tint.50 }}"
      }
    },
    {
      "scope": [
        "markup.strikethrough.markdown",
        "punctuation.definition.strikethrough.markdown"
      ],
      "settings": {
        "foreground": "{{ syntax.01.dim }}"
      }
    },
    {
      "scope": "markup.changed",
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": [
        "markup.inline.raw",
        "markup.fenced_code.block"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },


    {
      "scope": [
        "text.markdown.notes.tag",
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": [
        "punctuation.definition.list.begin.markdown",
        "markup.quote.markdown",
        "punctuation.definition.heading.markdown",
        "punctuation.definition.wiki-link",
        "punctuation.definition.string.begin.markdown",
        "punctuation.definition.string.end.markdown",
        "punctuation.definition.metadata.markdown",
        "punctuation.definition.italic.markdown",
        "punctuation.definition.bold.markdown",
      ],
      "settings": {
        "foreground": "{{ tint.40 }}"
      }
    },
    // Mermaid -------------------------------------
    {
      "scope": [
        "keyword.control.mermaid",
      ],
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "scope": [
        "entity.name.type.class.mermaid",
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": [
        "storage.type.mermaid",
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": [
        "entity.name.function.mermaid",
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "scope": [
        //same as markup.fenced_code.block.markdown
        "punctuation.parenthesis.open.mermaid",
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    
    // JSON ----------------------------------------
    {
      "scope": "string.quoted.double.json",
      "settings": {
        "foreground": "{{ tint.80 }}"
      }
    },
    {
      "name": "JSON Level 0",
      "scope": [
        "source.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },
    {
      "name": "JSON Level 1",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "name": "JSON Level 2",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "name": "JSON Level 3",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "name": "JSON Level 4",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    // CSS / SCSS ----------------------------------
    {
      "scope": [
        "entity.other.attribute-name.class.css",
        "punctuation.definition.entity.css",
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },  
    {
      "scope": [
        "punctuation.definition.entity.css",
        "meta.property-list.scss"
      ],
      "settings": {
        "foreground": "{{ tint.40 }}"
      }
    },   

    {
      "scope": [
        "entity.name.tag.css",
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": [
        "entity.name.tag.reference.scss",
        "entity.name.tag.wildcard.scss",
        "entity.other.attribute-name.pseudo-class.css",
        "entity.other.attribute-name.parent-selector-suffix.css",
        // "punctuation.definition.entity.css",
        "source.css.scss",
        "entity.name.tag.custom.scss"

      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "scope": [
        "support.type.property-name.css",
        "meta.property-name.scss",
        "source.css.scss"
      ],
      "settings": {
        "foreground": "{{ tint.70 }}"
      }
    },
    {
      "scope": [
        "support.type.property-name.css",
        "meta.property-name.scss",
        "source.css.scss"
      ],
      "settings": {
        "foreground": "{{ tint.70 }}"
      }
    },

    {
      "scope": [
        "source.css support.function.transform",
        "source.css support.function.timing-function",
        "source.css support.function.misc",
        "punctuation.definition.keyword.scss"
      ],
      "settings": {
        "foreground": "{{ syntax.01.base }}"
      }
    },


    // HTML / XML ----------------------------------------
    {
      "scope": [
        "punctuation.definition.tag",
      ],
      "settings": {
        "foreground": "{{ tint.40 }}"
      }
    },
    {
      "scope": [
        "text.html punctuation.tag"
      ],
      "settings": {
        "foreground": "{{ syntax.01.base }}",
      }
    },
    // pug ----------------------------------------------
    {
      "scope": [
        "entity.other.attribute-name.class.pug"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}",
      }
    },   
    // javascript ---------------------------------------
    {
      "scope": [
        "source.js variable.language"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    // typescript ---------------------------------------
    {
      "scope": [
        "source.ts variable.language"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    // golang --------------------------------------------
    {
      "scope": [
        "source.go storage.type"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "scope": [
        "source.go entity.name.import"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "scope": [
        "source.go keyword.package",
        "source.go keyword.import"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "scope": [
        "source.go keyword.interface",
        "source.go keyword.struct"
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "scope": [
        "source.go entity.name.type"
      ],
      "settings": {
        "foreground": "{{ tint.80 }}"
      }
    },
    {
      "scope": [
        "source.go entity.name.function"
      ],
      "settings": {
        "foreground": "{{ syntax.07.base }}"
      }
    },
    // cucumber
    {
      "scope": [
        "keyword.control.cucumber.table"
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    // REASONML ------------------------------------
    {
      "name": "ReasonML String",
      "scope": [
        "source.reason string.double",
        "source.reason string.regexp"
      ],
      "settings": {
        "foreground": "{{ syntax.04.base }}"
      }
    },
    {
      "name": "ReasonML equals sign",
      "scope": [
        "source.reason keyword.control.less"
      ],
      "settings": {
        "foreground": "{{ syntax.05.base }}"
      }
    },
    {
      "name": "ReasonML variable",
      "scope": [
        "source.reason entity.name.function"
      ],
      "settings": {
        "foreground": "{{ syntax.06.base }}"
      }
    },
    {
      "name": "ReasonML property",
      "scope": [
        "source.reason support.property-value",
        "source.reason entity.name.filename"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    // POWERSHELL ------------------------------------
    {
      "name": "Powershell member",
      "scope": [
        "source.powershell variable.other.member.powershell"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    },
    {
      "name": "Powershell function",
      "scope": [
        "source.powershell support.function.powershell"
      ],
      "settings": {
        "foreground": "{{ syntax.03.base }}"
      }
    },
    {
      "name": "Powershell function attribute",
      "scope": [
        "source.powershell support.function.attribute.powershell"
      ],
      "settings": {
        "foreground": "{{ tint.70 }}"
      }
    },
    {
      "name": "Powershell hashtable member",
      "scope": [
        "source.powershell meta.hashtable.assignment.powershell variable.other.readwrite.powershell"
      ],
      "settings": {
        "foreground": "{{ syntax.02.base }}"
      }
    }
  ],

}
