{
  "$schema": "vscode://schemas/color-theme",
  "name": "B theme",
  "type": "dark",
  "colors": {
		/* Base colors
		 https://code.visualstudio.com/api/references/theme-color#status-bar-colors
		*/
    "focusBorder":                            "{{gray20}}",
    "foreground":                             "{{gray80}}",
    "widget.shadow":                          "{{black}}",
    "selection.background":                   "{{teal1}}80",
    "descriptionForeground":                  "{{gray80}}",
    "errorForeground":                        "{{red2}}",
    "icon.foreground":                        "{{gray80}}",
    "sash.hoverBorder":                       "{{gray80}}",
    "textLink.foreground":                    "{{blue2}}",
    "textLink.activeForeground":              "{{blue1}}",
    "debugToolBar.background":                "{{gray10}}",

    /* Button 
			 https://code.visualstudio.com/api/references/theme-color#button-control
		*/
    "button.background":                      "{{blue1}}",
    "button.foreground":                      "{{gray80}}",
    "button.hoverBackground":                 "{{blue1}}80",
		"button.secondaryBackground":	            "{{gray50}}",
		"button.secondaryForeground":	            "{{gray80}}",
		"button.secondaryHoverBackground":        "{{gray40}}",
		"button.border":                          null,

    /* Dropdown
		   https://code.visualstudio.com/api/references/theme-color#dropdown-control
		*/
    "dropdown.background":                    "{{gray30}}",
    "dropdown.border":                         null,
    "dropdown.foreground":                    "{{gray90}}",
		"dropdown.listBackground":                 null,


    /* Input
			 https://code.visualstudio.com/api/references/theme-color#input-control 
		*/	
    "input.background":                       "{{gray30}}",
    "input.border":                            null,
    "input.foreground":                       "{{gray80}}",
    "input.placeholderForeground":            "{{gray80}}80",
    "inputOption.activeBackground":           "{{yellow2}}",
		"inputOption.activeBorder":					    	 null,
		"inputOption.activeForeground":         	"{{gray20}}",
    "inputValidation.errorBackground":        "{{red2}}",
    "inputValidation.errorBorder":            "{{red2}}",
    "inputValidation.infoBackground":         "{{blue1}}",
    "inputValidation.infoBorder":             "{{blue1}}",
    "inputValidation.warningBackground":      "{{yellow1}}",
    "inputValidation.warningBorder":          "{{yellow2}}",

		/* Scrollbar
		*/
		"scrollbar.shadow":									  	  "{{black}}",
		"scrollbarSlider.background": 			  		"{{gray25}}60",
		"scrollbarSlider.activeBackground":	  		"{{gray30}}90",
		"scrollbarSlider.hoverBackground": 		  	"{{gray25}}90",


    /* Badge
    */
    "badge.background":                       "{{blue1}}",
    "badge.foreground":                       "{{gray80}}",

    /* Progress bar
    */
    "progressBar.background":                 "{{teal2}}",

    /* Title Bar
		*/
		"titleBar.activeBackground":              "{{gray10}}",
		"titleBar.activeForeground":              "{{gray60}}",
		"titleBar.inactiveBackground":            "{{gray10}}",
		"titleBar.inactiveForeground":            "{{gray60}}",
		"titleBar.border" :                       "{{gray30}}",

    /* Breadcrumbs
    */    
    "breadcrumb.foreground":                    "{{gray50}}",
    "breadcrumb.background":                    "{{gray10}}",
    "breadcrumb.focusForeground":               "{{gray80}}",
    "breadcrumb.activeSelectionForeground":     "{{gray80}}",
    "breadcrumbPicker.background":              "{{gray10}}",

    
		/* Lists & Trees
			 https://code.visualstudio.com/api/references/theme-color#lists-and-trees
		*/
    "list.activeSelectionBackground": 				"{{gray20}}",
		"list.activeSelectionForeground": 				"{{gray80}}",
		"list.errorForeground": 									"{{red2}}",
		"list.focusBackground": 									"{{gray20}}",
		"list.focusForeground": 									"{{gray80}}",
		"list.hoverBackground": 									"{{gray20}}",
		"list.inactiveSelectionBackground": 			"{{gray20}}",
		"list.inactiveSelectionForeground": 			"{{gray80}}",
		"list.warningForeground": 								"{{yellow2}}",
		"list.deemphasizedForeground": 						"{{gray50}}",
		"list.dropBackground": 										"{{gray40}}75",
		"list.filterMatchBackground": 						"{{gray40}}",
		"list.focusHighlightForeground": 					"{{blue1}}",
		"list.focusOutline": 											"{{blue1}}",
		"list.highlightForeground": 							"{{blue1}}",
		"list.invalidItemForeground": 						"{{blue1}}",
		"list.hoverForeground":                   "{{gray80}}",
		//"list.activeSelectionIconForeground": null,
		//"list.filterMatchBorder": null,
		//"list.inactiveFocusBackground": null,
		//"list.inactiveFocusOutline": null,
		//"list.inactiveSelectionIconForeground": null,



		/* Quick input (Command palette, Quick picker)
		*/
		"quickInput.background": 									"{{gray10}}",
		"quickInput.foreground": 									"{{gray70}}",
		"pickerGroup.foreground": 								"{{blue1}}",
		"pickerGroup.border": 										"{{gray30}}",    


    /* Keybinding labels
			 https://code.visualstudio.com/api/references/theme-color#keybinding-label-colors
		*/
		"keybindingLabel.background": 						"{{gray10}}",
		"keybindingLabel.border": 								"{{gray20}}",
		"keybindingLabel.bottomBorder": 					"{{gray30}}",
		"keybindingLabel.foreground": 						"{{gray80}}",

		/* Activity Bar 
		*/
		"activityBar.background": 								"{{gray10}}",
		"activityBar.dropBorder": 								"{{gray80}}",
		"activityBar.foreground": 								"{{gray80}}",
		"activityBar.inactiveForeground":				  "{{gray80}}60",
		"activityBar.border":											"{{gray30}}",
		"activityBarBadge.background": 						"{{blue1}}",
		"activityBarBadge.foreground": 						"{{gray80}}",
		"activityBar.activeBorder": 							"{{gray80}}",
		"activityBar.activeBackground":						"{{gray30}}",
		"activityBar.activeFocusBorder":					null,


		/* Sidebar
			 https://code.visualstudio.com/api/references/theme-color#side-bar
		*/
		"sideBar.background": 										"{{gray10}}",
		"sideBarSectionHeader.background":        "{{gray20}}",
		"sideBar.border": 												"{{gray30}}",
		"sideBar.dropBackground":									"{{gray40}}75",
		"sideBar.foreground": 										"{{gray70}}",				
		"sideBarSectionHeader.foreground":        "{{gray70}}",
		"sideBarTitle.foreground":							  "{{gray70}}",
		"sideBarSectionHeader.border": 						 null,

    /* Git colors
       e.g. colors of changed files in sidebar or tabs
       TBD try muted colors
    */

    "gitDecoration.conflictingResourceForeground":"{{violet1}}",
		"gitDecoration.deletedResourceForeground": 		"{{red1}}",
		"gitDecoration.ignoredResourceForeground": 		"{{gray40}}",
		"gitDecoration.modifiedResourceForeground": 	"{{yellow1}}",
		"gitDecoration.untrackedResourceForeground": 	"{{green1}}",


		/* Minimap & Overview ruler
			 https://code.visualstudio.com/api/references/theme-color#minimap
		*/
		"minimap.errorHighlight": 								"{{red1}}",
		"minimap.findMatchHighlight": 						"{{yellow1}}",
		// "minimap.foregroundOpacity": 						"#000000c0",
		"minimap.selectionHighlight": 						"{{gray40}}",
		"minimap.selectionOccurrenceHighlight": 	"{{gray40}}",
		"minimap.warningHighlight":							  "{{yellow1}}",
		"minimapGutter.addedBackground": 					"{{green1}}",
		"minimapGutter.deletedBackground": 				"{{red1}}",
		"minimapGutter.modifiedBackground": 			"{{yellow1}}",
		"minimapSlider.activeBackground":         "{{gray50}}90",
		"minimapSlider.background":               "{{gray50}}80",
		"minimapSlider.hoverBackground":          "{{gray50}}90",

		"editorOverviewRuler.border": 									"{{gray10}}",
		"editorOverviewRuler.addedForeground": 					"{{green1}}90",
		"editorOverviewRuler.bracketMatchForeground": 	"{{gray50}}",
		"editorOverviewRuler.commonContentForeground": 	"{{gray50}}",
		"editorOverviewRuler.currentContentForeground": "{{blue1}}90",
		"editorOverviewRuler.deletedForeground": 				"{{red1}}90",
		"editorOverviewRuler.errorForeground": 					"{{red1}}",
		"editorOverviewRuler.findMatchForeground": 			"{{yellow1}}",
		"editorOverviewRuler.incomingContentForeground":"{{blue1}}90",
		"editorOverviewRuler.infoForeground":					  "{{blue1}}",
		"editorOverviewRuler.modifiedForeground": 			"{{yellow1}}",
		"editorOverviewRuler.rangeHighlightForeground": "{{blue1}}",
		"editorOverviewRuler.selectionHighlightForeground": "{{gray50}}",
		"editorOverviewRuler.warningForeground": 				"{{yellow1}}",
		"editorOverviewRuler.wordHighlightForeground": 	"{{gray50}}",
		"editorOverviewRuler.wordHighlightStrongForeground": "{{gray50}}",
  
    

		/* Status bar
			 https://code.visualstudio.com/api/references/theme-color#status-bar-colors
		*/
    "statusBar.background":                   "{{gray10}}",
    "statusBar.border":                       "{{gray30}}",
    "statusBar.foreground":                   "{{gray60}}",
    "statusBar.debuggingBackground":          "{{orange2}}",
    "statusBar.debuggingForeground":          "{{gray10}}",
    "statusBar.debuggingBorder":              "{{gray10}}",
    "statusBar.noFolderBackground":           "{{gray10}}",
    "statusBar.noFolderBorder":               "{{gray10}}",


		/* Editor Groups & Tabs
			 https://code.visualstudio.com/api/references/theme-color#editor-groups-tabs
		*/
		"editorGroup.emptyBackground": 						"{{gray10}}",
		"editorGroupHeader.noTabsBackground": 		"{{gray10}}",
		"editorGroupHeader.tabsBackground": 			"{{gray10}}",
		"editorGroup.dropBackground": 						"{{gray40}}75",
		"editorGroup.border": 										"{{gray30}}",
		"editorGroupHeader.tabsBorder":						"{{gray30}}",
		"editorGroup.focusedEmptyBorder":					"{{gray40}}",

		"tab.activeBackground": 									"{{gray20}}",
    "tab.activeForeground":                   "{{gray80}}",
    "tab.inactiveForeground":                 "{{gray60}}",
		"tab.inactiveBackground": 								"{{gray10}}",
		"tab.border":															"{{gray10}}",
		"tab.activeBorder":												"{{teal1}}",
		"tab.activeBorderTop":										null,
		"tab.hoverBorder":												"{{gray30}}",
    "tab.unfocusedActiveForeground":          "{{gray60}}",
    "tab.unfocusedActiveBorder":              "{{gray10}}",
    "tab.unfocusedInactiveForeground":        "{{gray50}}",


    /* Editor
		*/
		"editor.background": 											"{{gray10}}",
		"editor.foreground": 											"{{gray80}}",
    "editorLineNumber.foreground":            "{{gray40}}",
		"editorLink.activeForeground": 		  			"{{gray80}}",
		"editor.lineHighlightBackground": 				"{{gray20}}",
		"editor.selectionBackground": 						"{{gray25}}",
		"editorWhitespace.foreground": 						"{{gray40}}",
		"editorCursor.foreground": 								"{{gray80}}",
		"editorError.foreground": 								"{{red1}}",
		"editorWarning.foreground": 							"{{yellow1}}",
		"editorInfo.foreground": 									"{{teal1}}",
		"editorHint.foreground": 									"{{green1}}",
		"editorUnicodeHighlight.border":					"{{gray40}}",	
		"editorGutter.addedBackground": 					"{{green2}}",
		"editorGutter.deletedBackground": 				"{{red2}}",
		"editorGutter.modifiedBackground": 				"{{yellow2}}",
		"editorIndentGuide.background": 					"{{gray20}}",
		"editor.findMatchHighlightBackground": 		"{{yellow1}}30",
    "editor.selectionHighlightBackground":    "{{yellow2}}30",
    "editor.hoverHighlightBackground":        "{{yellow2}}30",
    "editor.findMatchBackground":             "{{blue2}}70",
    "editor.findRangeHighlightBackground":    "{{blue2}}70",
    "editor.lineHighlightBorder":              null,
    "editorIndentGuide.activeBackground":     "{{gray30}}",
    "editorRuler.foreground":                 "{{gray40}}",
    "editorCodeLens.foreground":              "{{gray60}}90",
    "editorBracketMatch.border":              "{{gray20}}",
    "editorBracketMatch.background":          "{{gray40}}",
    "editorHoverWidget.background":           "{{gray10}}",
    "editorHoverWidget.border":               "{{gray30}}",


		/* Diff Editor
			 https://code.visualstudio.com/api/references/theme-color#diff-editor-colors
		*/
		"diffEditor.diagonalFill":							  "{{gray30}}",
		"diffEditor.insertedTextBackground": 	  	"{{green2}}30",
		"diffEditor.removedTextBackground": 	    "{{red2}}30",
		"diffEditor.border": 											 null,
		"diffEditor.insertedTextBorder": 					 null,
		"diffEditor.removedTextBorder": 					 null,


    /* Widget
    */
    "editorWidget.background":               "{{gray10}}",
    "editorWidget.border":                   "{{gray30}}",
    "editorSuggestWidget.background":        "{{gray10}}",
    "editorSuggestWidget.foreground":        "{{gray80}}",
    "editorSuggestWidget.highlightForeground": "{{teal1}}",
    "editorSuggestWidget.selectedBackground":  "{{gray20}}60",
    "editorSuggestWidget.border":            "{{gray30}}",

    /* Peek view
    */
    "peekView.border":                       "{{gray30}}",
    "peekViewEditor.background":             "{{gray10}}",
    "peekViewEditorGutter.background":       "{{gray20}}50",
    "peekViewEditor.matchHighlightBackground": "{{teal2}}30",
    "peekViewResult.background":             "{{gray20}}50",
    "peekViewResult.fileForeground":         "{{gray80}}",
    "peekViewResult.matchHighlightBackground": "{{teal2}}30",
    "peekViewResult.selectionBackground":    "{{teal2}}30",
    "peekViewResult.selectionForeground":    "{{teal2}}30",
    "peekViewTitle.background":              "{{gray10}}",
    "peekViewTitleDescription.foreground":   "{{gray70}}",
    "peekViewTitleLabel.foreground":         "{{gray80}}",

    /* Merge conflicts
    */
    "merge.currentHeaderBackground":         "{{blue1}}40",
    "merge.currentContentBackground":        "{{blue1}}20",
    "merge.incomingHeaderBackground":        "{{teal1}}40",
    "merge.incomingContentBackground":       "{{teal1}}20",
    "merge.border":                          "{{gray10}}00",
    
    /* Panels
    */
    "panel.border":                          "{{gray30}}",
    "panelTitle.activeForeground":           "{{gray80}}",


    /* Integrated terminal
    */
    "terminal.ansiBlack":                    "{{gray20}}",
    "terminal.ansiBrightBlack":              "{{gray50}}",
    "terminal.ansiRed":                      "{{red1}}",
    "terminal.ansiBrightRed":                "{{red2}}",
    "terminal.ansiGreen":                    "{{green1}}",
    "terminal.ansiBrightGreen":              "{{green2}}",
    "terminal.ansiYellow":                   "{{yellow1}}",
    "terminal.ansiBrightYellow":             "{{yellow2}}",
    "terminal.ansiBlue":                     "{{blue1}}",
    "terminal.ansiBrightBlue":               "{{blue2}}",
    "terminal.ansiMagenta":                  "{{violet1}}",
    "terminal.ansiBrightMagenta":            "{{violet2}}",
    "terminal.ansiCyan":                     "{{teal1}}",
    "terminal.ansiBrightCyan":               "{{teal2}}",
    "terminal.ansiWhite":                    "{{gray60}}",
    "terminal.ansiBrightWhite":              "{{gray80}}",
    "terminal.foreground":                   "{{gray80}}",
    "terminal.background":                   "{{gray10}}",

    /* Notification
       https://code.visualstudio.com/api/references/theme-color#notification-colors
    */
    "notificationCenter.border":             "{{gray30}}",
    "notificationCenterHeader.foreground":   "{{gray80}}",
    "notificationCenterHeader.background":   "{{gray10}}",
    "notificationToast.border":              "{{gray30}}",
    "notifications.foreground":              "{{gray80}}",
    "notifications.background":              "{{gray10}}",
    "notifications.border":                  "{{gray30}}",
    "notificationLink.foreground":           "{{blue2}}",
    "notificationsErrorIcon.foreground":     "{{red2}}",
    "notificationsWarningIcon.foreground":   "{{yellow2}}",
    "notificationsInfoIcon.foreground":      "{{blue2}}",

    /* Extensions
    */
    "extensionButton.prominentBackground":      "{{green2}}80",
    "extensionButton.prominentHoverBackground": "{{green2}}30",

    /* Menu
    */
    "menubar.selectionForeground":           "{{gray90}}",
    "menubar.selectionBackground":           "{{gray40}}",
    "menubar.selectionBorder":                null,
    "menu.foreground":                       "{{gray80}}",
    "menu.background":                       "{{gray20}}",
    "menu.selectionForeground":              "{{gray90}}",
    "menu.selectionBackground":              "{{gray40}}",
    "menu.selectionBorder":                   null,
    "menu.separatorBackground":              "{{gray30}}",
    "menu.border":                           "{{gray30}}",

  },
  "tokenColors": [
    {
      "settings": {
        "background": "{{red1}}",
        "foreground": "{{gray80}}"
      }
    },
    {
      "scope": "emphasis",
      "settings": {
        "fontStyle": "italic"
      }
    },
    {
      "scope": "strong",
      "settings": {
        "fontStyle": "bold"
      }
    },
    {
      "scope": "header",
      "settings": {
        "foreground": "{{blue1}}"
      }
    },
    {
      "scope": [
        "comment",
        "punctuation.definition.comment"
      ],
      "settings": {
        "foreground": "{{gray50}}",
        "fontStyle": "italic"
      }
    },
    {
      "scope": [
        "constant",
        "support.constant",
        "variable.arguments"
      ],
      "settings": {
        "foreground": "{{violet2}}"
      }
    },
    {
      "scope": "constant.rgb-value",
      "settings": {
        "foreground": "{{gray80}}"
      }
    },
    {
      "scope": "entity.name.selector",
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": "entity.other.attribute-name",
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "scope": [
        "entity.name.tag",
        "punctuation.tag"
      ],
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": [
        "invalid",
        "invalid.illegal"
      ],
      "settings": {
        "foreground": "{{red1}}"
      }
    },
    {
      "scope": "invalid.deprecated",
      "settings": {
        "foreground": "{{violet1}}"
      }
    },
    {
      "scope": "meta.selector",
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": "meta.preprocessor",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "meta.preprocessor.string",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "meta.preprocessor.numeric",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "meta.header.diff",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "storage",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": "storage.modifier",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "string",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "string.tag",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "string.value",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "string.regexp",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "string.escape",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": "string.quasi",
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": "string.entity",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "object",
      "settings": {
        "foreground": "{{gray80}}"
      }
    },
    {
      "scope": "module.node",
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "scope": "support.type.property-name",
      "settings": {
        "foreground": "{{teal1}}"
      }
    },
    {
      "scope": "keyword",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": "keyword.control",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": "keyword.control.module",
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": "keyword.control.less",
      "settings": {
        "foreground": "{{yellow1}}"
      }
    },
    {
      "scope": "keyword.operator",
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": "keyword.operator.new",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "keyword.other.unit",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "metatag.php",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "support.function.git-rebase",
      "settings": {
        "foreground": "{{teal1}}"
      }
    },
    {
      "scope": "constant.sha.git-rebase",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "name": "Types declaration and references",
      "scope": [
        "meta.type.name",
        "meta.return.type",
        "meta.return-type",
        "meta.cast",
        "meta.type.annotation",
        "support.type",
        "storage.type.cs",
        "variable.class"
      ],
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "scope": [
        "variable.this",
        "support.variable"
      ],
      "settings": {
        "foreground": "{{violet2}}"
      }
    },
    {
      "scope": [
        "entity.name",
        "entity.static",
        "entity.name.class.static.function",
        "entity.name.function",
        "entity.name.class",
        "entity.name.type"
      ],
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "name": "Function declarations",
      "scope": [
        "storage.type.function",
        "entity.function",
        "entity.name.function.static"
      ],
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": "entity.name.function.function-call",
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": "support.function.builtin",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": [
        "entity.name.method",
        "entity.name.method.function-call",
        "entity.name.static.function-call"
      ],
      "settings": {
        "foreground": "{{teal1}}"
      }
    },
    {
      "scope": "brace",
      "settings": {
        "foreground": "{{gray80}}"
      }
    },
    {
      "name": "variables",
      "scope": [
        "meta.parameter.type.variable",
        "variable.parameter",
        "variable.name",
        "variable.other",
        "variable",
        "string.constant.other.placeholder"
      ],
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "scope": "prototype",
      "settings": {
        "foreground": "{{violet2}}"
      }
    },
    {
      "scope": "storage.type.class",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": [
        "punctuation"
      ],
      "settings": {
        "foreground": "{{gray60}}"
      }
    },
    {
      "scope": "punctuation.quoted",
      "settings": {
        "foreground": "{{gray80}}"
      }
    },
    {
      "scope": "punctuation.quasi",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "name": "URL",
      "scope": [
        "*url*",
        "*link*",
        "*uri*"
      ],
      "settings": {
        "fontStyle": "underline"
      }
    },
    // ----------------------------------------
    //            LANGUAGE SPECIFIC
    // ----------------------------------------
    // PYTHON ----------------------------------------
    {
      "name": "Python function",
      "scope": [
        "meta.function.python",
        "entity.name.function.python"
      ],
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "name": "Python Function and Class definition keywords",
      "scope": [
        "storage.type.function.python",
        "storage.modifier.declaration",
        "storage.type.class.python"
      ],
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "name": "Python Function Call",
      "scope": "meta.function-call.generic",
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "name": "Python Function Arguments",
      "scope": "meta.function-call.arguments",
      "settings": {
        "foreground": "{{gray80}}"
      }
    },
    {
      "name": "Python Function decorator",
      "scope": "entity.name.function.decorator",
      "settings": {
        "foreground": "{{yellow2}}",
        "fontStyle": "bold"
      }
    },
    {
      "name": "Python ALL CAPS",
      "scope": "constant.other.caps",
      "settings": {
        "fontStyle": "bold"
      }
    },
    // SHELL ----------------------------------------
    {
      "scope": "keyword.operator.logical",
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "scope": "punctuation.definition.logical-expression",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "string.inperpolated.dollar.shell",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": [
        "string.interpolated.dollar.shell",
        "string.interpolated.backtick.shell"
      ],
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    // C C++ ----------------------------------------
    {
      "scope": "keyword.control.directive",
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": "support.function.C99",
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    // C# ----------------------------------------
    {
      "name": "C# functions & namespace",
      "scope": [
        "meta.function.cs",
        "entity.name.function.cs",
        "entity.name.type.namespace.cs"
      ],
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "name": "C# Variables",
      "scope": [
        "keyword.other.using.cs",
        "entity.name.variable.field.cs",
        "entity.name.variable.local.cs",
        "variable.other.readwrite.cs"
      ],
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "name": "C# This",
      "scope": [
        "keyword.other.this.cs",
        "keyword.other.base.cs"
      ],
      "settings": {
        "foreground": "{{violet2}}"
      }
    },
    // MAKEFILE ----------------------------------------
    {
      "scope": "meta.scope.prerequisites",
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "scope": "entity.name.function.target",
      "settings": {
        "foreground": "{{green2}}",
        "fontStyle": "bold"
      }
    },
    // JAVA ----------------------------------------
    {
      "name": "coloring of the Java import and package identifiers",
      "scope": [
        "storage.modifier.import.java",
        "storage.modifier.package.java"
      ],
      "settings": {
        "foreground": "{{gray70}}"
      }
    },
    {
      "scope": [
        "keyword.other.import.java",
        "keyword.other.package.java"
      ],
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": "storage.type.java",
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "scope": "storage.type.annotation",
      "settings": {
        "foreground": "{{blue2}}",
        "fontStyle": "bold"
      }
    },
    {
      "scope": "keyword.other.documentation.javadoc",
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": "comment.block.javadoc variable.parameter.java",
      "settings": {
        "foreground": "{{green2}}",
        "fontStyle": "bold"
      }
    },
    {
      "scope": [
        "source.java variable.other.object",
        "source.java variable.other.definition.java"
      ],
      "settings": {
        "foreground": "{{gray80}}"
      }
    },
    // LISP ----------------------------------------
    {
      "name": "Lisp optional function parameters",
      "scope": "meta.function-parameters.lisp",
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    // MARKUP ----------------------------------------
    {
      "scope": "markup.underline",
      "settings": {
        "fontStyle": "underline"
      }
    },
    {
      "scope": "string.other.link.title.markdown",
      "settings": {
        "foreground": "{{gray50}}",
        "fontStyle": "underline"
      }
    },
    {
      "scope": "markup.underline.link",
      "settings": {
        "foreground": "{{violet2}}"
      }
    },
    {
      "scope": "markup.bold",
      "settings": {
        "fontStyle": "bold",
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "markup.heading",
      "settings": {
        "fontStyle": "bold",
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "markup.italic",
      "settings": {
        "fontStyle": "italic"
      }
    },
    {
      "scope": "markup.inserted",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": "markup.deleted",
      "settings": {
        "foreground": "{{orange1}}"
      }
    },
    {
      "scope": "markup.changed",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "markup.punctuation.quote.beginning",
      "settings": {
        "foreground": "{{green1}}"
      }
    },
    {
      "scope": "markup.punctuation.list.beginning",
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "scope": [
        "markup.inline.raw",
        "markup.fenced_code.block"
      ],
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    // JSON ----------------------------------------
    {
      "scope": "string.quoted.double.json",
      "settings": {
        "foreground": "{{gray80}}"
      }
    },
    {
      "name": "JSON Level 0",
      "scope": [
        "source.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "name": "JSON Level 1",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "name": "JSON Level 2",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{violet2}}"
      }
    },
    {
      "name": "JSON Level 3",
      "scope": [
        "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
      ],
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    // CSS ----------------------------------------
    {
      "scope": "entity.other.attribute-name.css",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "source.css meta.selector",
      "settings": {
        "foreground": "{{gray80}}"
      }
    },
    {
      "scope": "support.type.property-name.css",
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "scope": "entity.other.attribute-name.class",
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": [
        "source.css support.function.transform",
        "source.css support.function.timing-function",
        "source.css support.function.misc"
      ],
      "settings": {
        "foreground": "{{red2}}"
      }
    },
    {
      "name": "CSS property value",
      "scope": [
        "support.property-value",
        "constant.rgb-value",
        "support.property-value.scss",
        "constant.rgb-value.scss"
      ],
      "settings": {
        "foreground": "{{orange1}}"
      }
    },
    {
      "scope": [
        "entity.name.tag.css"
      ],
      "settings": {
        "fontStyle": "normal"
      }
    },
    // HTML / XML ----------------------------------------
    {
      "scope": [
        "punctuation.definition.tag"
      ],
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "scope": [
        "text.html entity.name.tag",
        "text.html punctuation.tag"
      ],
      "settings": {
        "foreground": "{{teal2}}",
        "fontStyle": "bold"
      }
    },
    // javascript ---------------------------------------
    {
      "scope": [
        "source.js variable.language"
      ],
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    // typescript ---------------------------------------
    {
      "scope": [
        "source.ts variable.language"
      ],
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    // golang --------------------------------------------
    {
      "scope": [
        "source.go storage.type"
      ],
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "scope": [
        "source.go entity.name.import"
      ],
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "scope": [
        "source.go keyword.package",
        "source.go keyword.import"
      ],
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "scope": [
        "source.go keyword.interface",
        "source.go keyword.struct"
      ],
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "scope": [
        "source.go entity.name.type"
      ],
      "settings": {
        "foreground": "{{gray80}}"
      }
    },
    {
      "scope": [
        "source.go entity.name.function"
      ],
      "settings": {
        "foreground": "{{violet2}}"
      }
    },
    // cucumber
    {
      "scope": [
        "keyword.control.cucumber.table"
      ],
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    // REASONML ------------------------------------
    {
      "name": "ReasonML String",
      "scope": [
        "source.reason string.double",
        "source.reason string.regexp"
      ],
      "settings": {
        "foreground": "{{green2}}"
      }
    },
    {
      "name": "ReasonML equals sign",
      "scope": [
        "source.reason keyword.control.less"
      ],
      "settings": {
        "foreground": "{{teal2}}"
      }
    },
    {
      "name": "ReasonML variable",
      "scope": [
        "source.reason entity.name.function"
      ],
      "settings": {
        "foreground": "{{blue2}}"
      }
    },
    {
      "name": "ReasonML property",
      "scope": [
        "source.reason support.property-value",
        "source.reason entity.name.filename"
      ],
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    // POWERSHELL ------------------------------------
    {
      "name": "Powershell member",
      "scope": [
        "source.powershell variable.other.member.powershell"
      ],
      "settings": {
        "foreground": "{{orange2}}"
      }
    },
    {
      "name": "Powershell function",
      "scope": [
        "source.powershell support.function.powershell"
      ],
      "settings": {
        "foreground": "{{yellow2}}"
      }
    },
    {
      "name": "Powershell function attribute",
      "scope": [
        "source.powershell support.function.attribute.powershell"
      ],
      "settings": {
        "foreground": "{{gray70}}"
      }
    },
    {
      "name": "Powershell hashtable member",
      "scope": [
        "source.powershell meta.hashtable.assignment.powershell variable.other.readwrite.powershell"
      ],
      "settings": {
        "foreground": "{{orange2}}"
      }
    }
  ],

}
